.ftva.base-calendar {

  .v-btn.v-calendar-header__today {
    @include ftva-button;
    background-color: #{$pure-white};
    color: #{$accent-blue};
    border-color: #{$accent-blue};

    &:hover,
    .hover {
      background-color: #{$accent-blue};
      color: #{$pure-white};
    }
  }

  .v-calendar-header > button:nth-of-type(2),
  .v-calendar-header > button:nth-of-type(3) {
    background-color: $navy-blue;
    color: white;
  }

  // Current date
  .v-calendar-weekly__day-label .v-btn.v-calendar-weekly__day-label__today {
    background-color: $grey-blue !important;
    color: $body-grey !important;
  }

  .calendar-event-item {
    background-color: $accent-blue;
    color: white;
  }

  .calendar-event-item:hover {
    background-color: $navy-blue;
    cursor: pointer;
  }
}
