.ftva.block-tag {
    @include ftva-tags;
     // secondary colors and styles
    background-color: transparent;
    border: 1.5px solid $subtitle-grey;
    border-radius: 16px;
    color: $subtitle-grey;
    padding: 8px 16px;
    height: 32px;
    // focused and disabled,styled in blockRemoveSearchFilter

    .label {
        color: $subtitle-grey;

        :deep(a) {
            text-decoration: underline;
        }
    }

    .svg {
        color: $subtitle-grey;
        margin-right: 8px;
        height: 15px;
        width: 15px;
    }

    // primary colors & styles
    &.primary {
        color: #{$pure-white};
        background-color: $accent-blue;
        border: none;

        .label {
            color:#{$pure-white};
        }
    }

    &.highlighted {
        background-color: $page-blue;
        // color: #{$white};
        // border: none;  
        .label {
            // color: #{$white};
        }
    }
}
