.ftva.block-tag {
    // base ftva styles
    padding: 8px 16px;
    border-radius: 16px;
    font-size: 15px;
    font-weight: 500;
    height: 32px;
    // secondary colors and styles
    // TODO focused and disabled, if they are also variations maybe better to use styles modifier
    background-color: transparent;
    border: 1.5px solid $subtitle-grey;
    color: $subtitle-grey;

    .label {
        color: $subtitle-grey;
        :deep(a) {
          text-decoration: underline;
        }
    }

    .svg {
        height: 15px;
        width: 15px;
        margin-right: 8px;
        color: $subtitle-grey;
    }

    // primary colors & styles
    &.primary {
        background-color: $accent-blue;
        border: none;
        color: #fff;

        .label {
            color: #fff;
        }
    }
}
