.ftva.block-highlight {
    max-width: 350px;
    height: 350px;
    position: relative;

    .card-meta {
        padding: 0px 10px 10px 10px;

        .title {
            @include ftva-card-title-2;
            @include truncate($lines: 3);
            margin-bottom: 10px;
        }

        &:hover>a.title {
            text-decoration: none;
        }
    }

    .top-text {
        display: flex;
    }

    :deep(.date-time) {
        position: absolute;
        bottom: 0;
    }

    .only-date-time {
        display: flex;
        flex-direction: row;

        //background-color: aquamarine;
        @include ftva-emphasized-subtitle;
        color: $accent-blue;
        letter-spacing: .04px;

        height: 34px;
        overflow: hidden;

        &::before {
            content: url('ucla-library-design-tokens/assets/svgs/icon-ftva-calendar.svg');
            margin: 3px 10px 0 0;
        }

        .schedule-item:nth-of-type(1) {
            position: relative;
            margin-right: 28px;

            &::after {
                content: url('ucla-library-design-tokens/assets/svgs/icon-ftva-diamond.svg');
                position: absolute;
                right: -30px;
                top: -2px;
                margin: 0px 10px;
            }
        }
    }

    .time {
        color: hotpink;
    }

    &:hover {
        .responsive-image {
            .media {
                //border: 5px solid $accent-blue;
                outline: 5px solid red;
            }
        }
    }
}
