.ftva.block-info {
    display: flex;
    flex-direction: column;

    background: $page-blue;
    border-radius: 10px;
    padding: 20px;

    .block-info-header {
        @include ftva-subtitle-1;
        text-align: center;
        color: $heading-grey;
        border-bottom: 1px solid $grey-blue;
        padding: 8px 0;
    }

    .block-info-list {
        padding: 16px 0 16px 20px;
    }

    .block-info-list li {
        @include ftva-body-2;
        color: $body-grey;
    }

    .block-info-list li::marker {
        color: $body-grey;
    }

    .button-link {
        font-size: 18px;
        border-radius: 2px;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    @media (min-width: 1024px) {
        .button-link {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
}
