.ftva.block-highlight {
    height: 350px;

    .card-meta {
        padding: 0px 10px 10px 10px;

        .title {
            @include ftva-card-title-2;
            margin-bottom: 10px;
        }

        &:hover>a.title {
            text-decoration: none;
        }
    }

    .date-time {
        display: flex;
        flex-direction: row;

        @include ftva-emphasized-subtitle;
        color: $accent-blue;
        letter-spacing: .04px;

        height: 34px;
        overflow: hidden;

        &::before {
            content: url('ucla-library-design-tokens/assets/svgs/icon-ftva-calendar.svg');
            margin: 3px 10px 0 0;
        }

        .schedule-item:nth-of-type(1) {
            position: relative;
            margin-right: 28px;

            &::after {
                content: url('ucla-library-design-tokens/assets/svgs/icon-ftva-diamond.svg');
                position: absolute;
                right: -30px;
                top: -2px;
                margin: 0px 10px;
            }
        }
    }

    &:hover {
        .responsive-image {
            .media {
                border: 5px solid $accent-blue;
            }
        }
    }
}
