.ftva.block-clipped-date {
  position: static;
  display: flex;
  flex-direction: row;

  $large-width: 272px;
  $large-height: 272px;

  .day-month-date {
    display: flex;
    flex-direction: column;

    color: $accent-blue;
    width: $large-width;
    height: $large-height;
    background-color: pink;
  }

  .day {
    font-weight: 400;
    font-family: var(--font-secondary);
    font-size: 16px;
    letter-spacing: 1.5%;
    text-transform: uppercase;
  }

  .month-date {
    font-weight: 400;
    font-family: var(--font-primary);
    font-size: 36px;
    letter-spacing: 0.25%;
    line-height: 1;

    .month {
      padding-right: 5px;
    }
  }


  .image-date-container {
    position: static;
    display: flex;
    flex-direction: row;
  }

  .image-block {
    width: $large-width;
    height: $large-height;
  }

  .image {
    aspect-ratio: 1 / 1;
    width: $large-width;
    height: $large-height;
  }

  .meta {
    width: 50%;
    background-color: aqua;

    :deep(.card-meta) {
      position: relative;
      margin: 0px;
      padding: 25px 20px 15px 20px;
      height: 191px;

      .title {
        @include ftva-card-title-2;
        @include truncate($lines: 3);
        margin-bottom: 10px;
      }

      &:hover>a.title {
        text-decoration: none;
      }
    }

    .top-text {
      display: flex;
    }

    :deep(.date-time) {
      position: absolute;
      bottom: var(--space-s);
      display: flex;
      flex-direction: row;

      @include ftva-emphasized-subtitle;
      color: $accent-blue;
      letter-spacing: .04px;

      height: 34px;
      overflow: hidden;

      .schedule-item:nth-of-type(1) {
        position: relative;
        margin-right: 28px;

        &::after {
          content: url('ucla-library-design-tokens/assets/svgs/icon-ftva-diamond.svg');
          position: absolute;
          right: -30px;
          top: -2px;
          margin: 0px 10px;
        }
      }
    }
  }



  .date {
    border: 2px solid green;
  }

  .floating-highlight {
    position: static;
  }

  @media #{$medium} {
    position: static;
    display: flex;
    flex-direction: column;

    .image-block {
      aspect-ratio: 1.71 / 1;
      width: 280px;
    }

    .image {
      aspect-ratio: 1.71 / 1;
      width: 280px;
      border: 2px solid yellow;

      .molecule-no-image {
        border-radius: 10px 10px 0 0;
        aspect-ratio: 1.67 / 1;
        height: 100%;
      }
    }


    // .day-month-date {
    //   @include visually-hidden;
    // }

    .meta {
      width: calc((100% / 3) - 22px);
      min-width: 280px;
      //width: $large-width * 2;
      height: $large-height;
    }
  }
}
