.ftva.block-highlight {
    position: relative;

    border-radius: 12px;

    :deep(.media) {
        border-radius: 10px 10px 0 0;
    }

    &.is-vertical {

        .image-container {
            aspect-ratio: 1.71 / 1;

            .molecule-no-image {
                border-radius: 10px 10px 0 0;
                aspect-ratio: 1.67 / 1;
                height: 100%;
            }
        }
    }

    :deep(.card-meta) {
        position: relative;
        margin: 0px;
        padding: 25px 20px 15px 20px;
        height: 191px;

        .title {
            @include ftva-card-title-2;
            @include truncate($lines: 3);
            margin-bottom: 10px;
        }

        &:hover>a.title {
            text-decoration: none;
        }
        
        .byline-group .date-created::before {
            content: unset;
        }
    }

    .top-text {
        display: flex;
    }

    :deep(.date-time) {
        position: absolute;
        bottom: var(--space-s);
        display: flex;
        flex-direction: row;

        @include ftva-emphasized-subtitle;
        color: $accent-blue;
        letter-spacing: .04px;

        height: 34px;
        overflow: hidden;

        .ongoing-item + .schedule-item  {
            // hide the date range if the ongoing label is display
            display: none;
        }

        .schedule-item:nth-of-type(1) {
            position: relative;
            margin-right: 28px;
            // show the diamond icon after, but only if it's not the last child
            &:not(:last-child)::after {
                content: url('ucla-library-design-tokens/assets/svgs/icon-ftva-diamond.svg');
                position: absolute;
                right: -30px;
                top: -2px;
                margin: 0px 10px;
            }
        }
    }

    // take the hover style off of the title
    @media #{$has-hover} {
        &:hover {
            .title {
                color: none;
                text-decoration: none;
                text-decoration-thickness: none;
                -webkit-text-decoration-color: none;
                        text-decoration-color: none;
                text-underline-offset: none;
            }
        }
    }

    /* This keeps the moleule image from expanding vertically when in tablet size */
    &.is-vertical {
        flex-direction: column;

        .molecule-no-image {
            width: 100%;
            height: 179.2px;
        }
    }

    // Hovers
    @media #{$has-hover} {
        &:hover {
            box-shadow: 0 4px 4px rgb(51 51 51 / 0.2);
        }
    }
}