.ftva.block-remove-search-filter {
    align-items: center;

    :deep(.block-tag) {
        font-size: 18px;
        background-color: #{$pure-white};
        border-color: $subtitle-grey;
        border-radius: 25px;
        padding: inherit 18px;
        height: 40px;
    }

    .button-close {
        font-size: 10px;
        font-weight: bold;
        line-height: 100%;
        width: 0;
        overflow: hidden;
        -webkit-transition: width .15s ease-in-out;
        -moz-transition: width .15s ease-in-out;
        -o-transition: width .15s ease-in-out;
        transition: width .15s ease-in-out;

        svg {
            margin-top: 3px;
        }
    }

    &:focus,
    &:hover {
        :deep(.block-tag) {
            border-color: $accent-blue;
            background-color: $accent-blue;

            .label {
                color: #{$pure-white};
            }
        }

        :deep(path.svg__fill--medium-grey) {
            fill: #{$pure-white};
        }

        .button-close {
            color: #{$pure-white};
            width: 20px;

            :deep(.svg__stroke--pure-white) {
                fill: #{$pure-white};
            }
        }
    }

    // TODO will discuss with UX
    // &:disabled {
    //     color: #{$page-blue};
    // }
}
