.ftva.block-highlight {
    max-width: 350px;
    height: 350px;
    position: relative;

    border-radius: 12px;

    :deep(.media) {
        border-radius: 10px 10px 0 0;
    }

    .molecule-no-image {
        border-radius: 10px 10px 0 0;
    }

    .card-meta {
        margin: 25px 10px 0;
        padding: 0px 10px 10px 10px;

        .title {
            @include ftva-card-title-2;
            @include truncate($lines: 3);
            margin-bottom: 10px;
        }

        &:hover>a.title {
            text-decoration: none;
        }
    }

    .top-text {
        display: flex;
    }

    :deep(.date-time) {
        position: absolute;
        bottom: 0;
    }

    .only-date-time {
        display: flex;
        flex-direction: row;

        margin-bottom: 10px;

        //background-color: aquamarine;
        @include ftva-emphasized-subtitle;
        color: $accent-blue;
        letter-spacing: .04px;

        height: 34px;
        overflow: hidden;

        .schedule-item:nth-of-type(1) {
            position: relative;
            margin-right: 28px;

            &::after {
                content: url('ucla-library-design-tokens/assets/svgs/icon-ftva-diamond.svg');
                position: absolute;
                right: -30px;
                top: -2px;
                margin: 0px 10px;
            }
        }
    }

    // take the hover style off of the title
    @media #{$has-hover} {
        &:hover {
            .title {
                color: none;
                text-decoration: none;
                text-decoration-thickness: none;
                text-decoration-color: none;
                text-underline-offset: none;
            }
        }
    }

    /* This keeps the moleule image from expanding vertically when in tablet size */
    &.is-vertical {
        flex-direction: column;

        .molecule-no-image {
            width: 100%;
            height: 179.2px;
        }
    }

    // Hovers
    @media #{$has-hover} {
        &:hover {
            box-shadow: 0 4px 4px rgb(51 51 51 / 0.2);
        }
    }

    .ftva.section-teaser-card .card[data-v-a9e65b06]:hover {
        /* border: 2px solid #115daf; */
        box-shadow: 0 10px 17px rgba(0, 0, 0, 0.1);
    }

    .ftva.section-teaser-card .card[data-v-49e2255f]:hover {
        border: 2px solid #115daf;
        box-shadow: 0 10px 17px rgba(0, 0, 0, 0.1);
    }
}
