.ftva.block-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 10px;
    background: $page-blue;

    .block-info-header {
        font-size: 20px;
        line-height: 28px;
        font-weight: $font-weight-medium;
        color: $medium-grey;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 8px 0;
        border-bottom: 1px solid $subtitle-grey;
    }

    .block-info-list {
        padding: 16px 0 16px 20px;
    }

    // ToDo: Add Proxima font when fixed in design tokens
    .block-info-list li {
        font-size: $font-size-16;
        line-height: 24px;
        color: $body-grey;
    }

    .button-link {
        // ToDo: Enable include when tokens package update works
        // @include ftva-button;
        font-size: 18px;
        border-radius: 2px;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        margin: 0 auto;
    }

    @media (min-width: 1024px) {
        .button-link {
            padding-left: 16px;
            padding-right: 16px;
        }
    }
}
