// CardMeta THEME

.ftva.card-meta {
  .category {
    @include ftva-button-link;
    color: $accent-blue;
    margin: 0 0 20px;
  }

  .title {
    @include ftva-h2;
    color: $heading-grey;
    margin: 0 0 24px;
  }

  .title-no-link {
    @include ftva-h3;
    color: $heading-grey;
    margin: 0 0 24px;
  }

  .block-tags {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 8px;

    margin-bottom: 8px;
  }

  .byline-group {
    flex-direction: row;
    .date-created::before {
      content: url('ucla-library-design-tokens/assets/svgs/icon-ftva-diamond.svg');
      margin: 0 8px;
      padding-top: -10px;
    }
  }

  // styles the rich-text components
  // introduction and guestSpeaker
  .rich-text {
    margin: 0;
    padding-right: 0;
  }

  .sharebutton-slot {
    margin-top: 28px;
    margin-bottom: 28px;
    &:empty {
      display: none;
    }
  }

  .parsed-start-time {
    @include ftva-emphasized-subtitle;
    color: $accent-blue;
  }
}
