// CardMeta THEME

.ftva.card-meta {
  .category {
    @include overline;
    @include ftva-body;
    color: $accent-blue;
  }

  .title,
  .title-no-link {
    @include ftva-h2;
    color: $heading-grey;
    margin-bottom: 20px;
  }

  .block-tags {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 8px;
    margin-bottom: 16px;
  }

  .introduction {
    @include ftva-body;
    font-weight: 500;
    color: $body-grey;
    @include truncate($lines: 4);
  }

  .text {
    margin-top: 40px;
  }

  .slot {
    margin-top: 28px;
  }
}
