// CardMeta THEME

.ftva.block-screening-detail {
  .category {
    @include ftva-button-link;
    color: $accent-blue;
    margin: 0 0 20px;
  }

  .title {
    @include ftva-h2;
    color: $heading-grey;
    margin: 0 0 24px;
  }

  .title-no-link {
    @include ftva-h3;
    color: $heading-grey;
    margin: 0 0 24px;
  }

  .block-tags {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 8px;

    margin-bottom: 8px;
  }

  .introduction {
    @include ftva-body-2;
    @include truncate($lines: 4);
    color: $navy-blue;
  }

  .text {
    margin-top: 40px;
  }

  .slot {
    margin-top: 28px;
  }

  dl {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 2em;
    margin-inline-start: -40px;
    margin-inline-end: 0px;
  }

  dt {
    display: block;
  }

  dd {
    display: block;
    margin-inline-start: 40px;
  }

  tr {
    text-align: left;
    @include ftva-subtitle-2;

  }

  th {
    padding-right: 40px;
    @include ftva-subtitle-2;
  }

  td {
    padding-right: 25px;
    @include ftva-subtitle-2;
    color: #{$accent-blue};
  }
}
