.ftva.footer-sock {
    --unit-content-width: $ftva-container-max-width;
    background-color: #191919;

    .container {
        .link {
            color: $white;
            text-decoration-color: $grey-blue;

            &:hover {
                color: $grey-blue;
            }
        }

        .regents {
            color: $white;
        }
    }
}