.ftva.footer-links {
    background-color: #191919;
    color: white;

    .link-list {
        .link-list-label {
            @include ftva-subtitle-1;
            color: $grey-blue;
            border-bottom: 1.5px $accent-blue solid;
        }

        ul {
            li a {
                color: white;
                font-weight: 400;
                &:hover {
                    border-color: #41648C;
                }
            }
        }
    }
}