.ftva.header-sticky {
    background-color: $navy-blue;
    &::before {
        content: '';
        position: absolute;
        z-index: 1000; // always on top
        top: 64px;
        height: 1px;
        width: 100vw;
        border-bottom: 1px solid var(--ftva-medium-blue);
    }

    .primary {
        width: 100%;
        max-width: var(--ftva-container-max-width);
        margin: 0 auto;

        .donate-button {
            display: flex;
            margin-bottom: 30px;
        }

        :deep(.section-name) {
            color: white;
            font-size: 20px;
            font-weight: 500;
            line-height: normal;
        }
    }
}