.ftva.nav-primary {
    .support-links {
        .item-top {
            display: none;
        }
    }
    .background-blue {
        background-color: $navy-blue;
        border-bottom: none;
    }
   ul {
    background-color: $navy-blue;
   }
}