.ftva.nav-primary.primary {
    position: relative; //absolutely positioned children will be relative to this
    overflow: visible; //allows the search button menu to overflow the container
    // this theme refactors to grid layout so we can place menu items over top of each other w/o absolute positioning
    display: grid;
    grid-template-columns: auto auto 64px;
    justify-content: unset;
    grid-auto-flow: dense;

    .support-links {
        .item-top {
            display: none;
        }
    }

    .background-blue {
        background-color: $navy-blue;
        border-bottom: none;
    }

    ul {
        background-color: $navy-blue;
    }

    .menu {
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .more-menu {
        display: block;
        grid-column: 3;

        .search-button,
        .close-button,
        .more-menu-button {
            background: none;
            border: none;
            height: 64px;
            width: 65px;
            padding: unset;

            ::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -1px;
                opacity: 0; // use opacity to hide so we can animate it
                width: 100%;
                height: 5px;
                background-color: var(--ftva-medium-blue);
                margin-top: 5px;
                transition-property: opacity;
                transition-duration: $transition-timing-slow;
                transition-timing-function: ease-in-out;
            }

            &:hover {
                ::after {
                    opacity: 1;
                }
            }

            :deep(.hover) {
                display: none;
            }

            :deep(.svg__fill--dark-navy) {
                fill: white;
            }

            :deep(.svg__stroke--primary-blue-03) {
                stroke: white;
            }
        }

        .slot-container {
            display: block;
            position: absolute;
            z-index: 1;
            width: 100%;
            margin: 0;
            padding: 0;
            right: 0;
            background-color: $navy-blue;
            transform: scaleY(0);
            transform-origin: top;
            transition-duration: .2s;
            transition-timing-function: ease-in-out;

            // add css 'wings' to fill sides of large screen with menu bg color
            &::after,
            &::before {
                display: block;
                overflow: visible;
                position: absolute;
                left: -500px;
                bottom: 0px;
                content: '';
                height: 100%;
                max-height: 400px;
                width: 500px;
                background-color: $navy-blue;
            }

            &::after {
                left: 100%;
            }

            &.is-opened {
                transform: scaleY(1);
            }
        }

        .mobile-only {
            display: none;
        }
    }

    @media #{$small} {
        grid-auto-flow: unset;

        .more-menu {
            display: flex;
            flex-direction: row;
            gap: 12px;

            .search-button,
            .close-button,
            .more-menu-button {
                svg {
                    width: 23px;
                    height: 23px;
                }
            }

            .search-button svg {
                padding: 4px;
            }

            .mobile-only {
                display: block;
            }

            .slot-container {
                top: 64px; // menu height
            }
        }

        .menu {
            display: none;

            // opacity: 0; // need to animate?
            &.is-opened-mobile {
                display: unset;
                grid-column: 1 / span 3;
                width: 100%;

                :deep(.nav-menu-item) {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }
}