.ftva.nav-search {
  color: $pure-white;
  background-color: $navy-blue;
  padding: 2rem;

  .top-row {
    .icon {
      top: 21px;
      left: 29px;
      width: 17px;
      height: 17px;
    }

    :deep(.search-input-wrapper.search-input) {
      input[data-search-input="true"] {
        @include ftva-input;
        background-color: $pure-white;
        border-radius: 4px;
        padding: 15px 10px 15px 63px;

        &::placeholder {
          text-transform: unset;
        }
      }

      .clear-icon {
        top: 18px;
        right: 20px;
        width: 17px;
        height: 17px;

        &::after,
        &::before {
          background-color: $navy-blue;
        }
      }
    }

    svg {
      height: 20px;
      width: 20px;

      :deep(.svg__fill--primary-blue-03) {
        fill: $navy-blue;
      }
    }
  }

  .button-link {
    @include ftva-button;
  }

  .bottom-row {
    @include ftva-body;
    color: $grey-blue;

    a.bottom-link {
      @include ftva-button-link;
      margin-left: 5px;
    }
  }

  @media #{$small} {
    .top-row {
      .icon {
        left: 18px;
      }

      :deep(.search-input-wrapper.search-input) {
        input[data-search-input="true"] {
          padding-left: 48px;
        }
      }
    }
  }
}