.ftva.nav-breadcrumb {
    .parent-page-url {
        @include step-1;
        color: $heading-grey;
        font-weight: 500;
    }

    .collapsed-url {
        color: $accent-blue;
    }

    .current-page-title {
        @include step-1;
        color: $accent-blue;
    }

    .svg__icon-caret-left {
        :deep(.svg__stroke--primary-blue-03) {
            stroke: $secondary-grey-03;
        }
    }
}
