.ftva.nav-primary {
    .support-links {
        .item-top {
            display: none;
        }
    }

    .background-blue {
        background-color: $navy-blue;
        border-bottom: none;
    }

    ul {
        background-color: $navy-blue;
    }

    .more-menu {
        margin-left: auto;
        align-self: center;
        height: 100%;

        .search-button {
            background: none;
            border: none;
            height: 100%;
            width: 65px;
            padding: unset;

            ::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -1px;
                opacity: 0; // use opacity to hide so we can animate it
                width: 100%;
                height: 5px;
                background-color: var(--ftva-medium-blue);
                margin-top: 5px;
                transition-property: opacity;
                transition-duration: $transition-timing-slow;
                transition-timing-function: ease-in-out;
            }

            &:hover {
                ::after {
                    opacity: 1;
                }
            }

            :deep(.hover) {
                display: none;
            }

            :deep(.svg__fill--dark-navy) {
                fill: white;
            }
        }
    }
}