.ftva.section-teaser-card {
    flex-wrap: nowrap;
    max-width: 100%; // 100% of the parent container
    align-items: flex-start;
    overflow-y: auto;
    padding-top: 25px;
    gap: var(--space-xl) 20px;
    scrollbar-color: $grey-blue $white;
    &:has(> :last-child:nth-child(3)) {
        /* if section has 3 elements */
        justify-content: space-between;
        gap: var(--space-xl) 16px;
    }

    .card {
        flex-basis: calc((100% / 3) - 22px);
        min-width: 280px;
        margin-bottom: 15px;
        min-height: 350px;
    }
}

.ftva.section-teaser-card-title {
    @include ftva-card-title-1;
    padding-top: 60px;
    color: $accent-blue;
}
