.ftva.section-pagination {
    .pagination-numbers-container {
        .pButton {
            color: $body-grey; //$medium-grey;
            font-size: 20px;
        }
        .pButton-selected {
            color: white;
            background-color: $navy-blue;
        }
    }
}