.ftva.section-teaser-list {
  // container for the horizontal cards
  max-width: unset;
  padding: 2.5%;
  border-radius: 12px;

  .list {
    background-color: transparent;
  }

  // Breakpoints
  @media #{$medium} {
    // Hide horizontal container on smaller screen
    border-radius: 0;
    padding: 0;
    background-color: transparent;

    .list-item {
      border-bottom: none;
      margin-bottom: var(--space-m);
      padding-bottom: var(--space-m);
    }
  }
}
