.ftva.section-wrapper {
    .section-header {
        margin-bottom: 28px;
    }

    // default link styles for FTVA
    .section-link {
        top: 11px;
        @include ftva-button-link;
        color: #{$medium-grey};

        text-decoration: underline;
        text-decoration-thickness: 3px;
        -webkit-text-decoration-color: #{$grey-blue};
        text-decoration-color: #{$grey-blue};
        text-underline-offset: 4px;

        &:hover {
            -webkit-text-decoration-color: #{$bright-blue};
            text-decoration-color: #{$bright-blue};
        }
    }

    &.top-level {
        &.theme-white {
            &.section-banner {
                >:deep(*) {
                    max-width: var(--ftva-container-max-width);
                }
            }

            .section-featured-banner {
                max-width: var(--ftva-container-max-width);
            }

            :deep(.section-teaser-card) {
                --color-children-theme: #{$page-blue};

                .block-highlight.card {
                    background-color: var(--color-children-theme);
                }
            }
        }

        &.theme-paleblue {
            --color-theme: #{$page-blue};
            --color-children-theme: var(--color-white);

            background-color: var(--color-theme);

            :deep(*) {
                .block-highlight.card {
                    background-color: var(--color-children-theme);
                }
            }
        }

        // FTVA uses different page max-width
        >:deep(*) {
            max-width: var(--ftva-container-max-width);
        }
    }
}
