.ftva.section-teaser-card {
    flex-wrap: nowrap;

    align-items: flex-start;
    overflow-y: auto;
    padding-top: 25px;

    .card {
        width: calc((100% / 3) - 22px);
        min-width: 298px;
        margin-bottom: 15px;

        @media #{$medium} {
            flex-shrink: 0;

            .section-teaser-card {
                gap: var(--space-m);
                overflow-x: auto;
                overflow-y: visible;
                flex-wrap: nowrap;
            }
        }
    }
}

.ftva.section-teaser-card-title {
    @include ftva-card-title-1;
    padding-top: 60px;
    color: $accent-blue;
}
