.bento-pod,
.bento-pod.dlc {
    padding: 20px;
    box-sizing: border-box;

    border-radius: 4px;
    border: 1px solid var(--color-primary-blue-05);

    .title {
        font-family: var(--font-primary);
        font-size: 36px;
        font-weight: 600;
        line-height: 100%; /* 36px */
        color: var(--color-primary-blue-05);
    }

    .pod-button {
        margin-top: 20px;

        display: flex;
        align-items: center;

        gap: 10px;

        font-family: var(--font-secondary); // Proxima Nova
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        color: var(--color-primary-blue-03);
    }

    .items {
        overflow: hidden;
        @include animate-normal;
    }

    .item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        padding: 20px 0;
        box-sizing: border-box;

        position: relative;

        &:nth-child(3) {
            .divider {
                opacity: 0;
            }
        }
    }

    .divider {
        position: absolute;
        width: 100%;
        bottom: 0;

        @include animate-normal;

        ::v-deep() {
            margin: 0;
        }
    }

    .item-link {
        padding: 0;
    }

    .item-title {
        text-align: left;
        font-size: 24px;
        font-family: var(--font-primary); // Karbon
        font-weight: 700;
        line-height: 120%; /* 28.8px */
        color: var(--color-primary-blue-03);
    }

    .item-type,
    .item-date,
    .item-program {
        display: inline-flex;
        gap: 5px;
        font-family: var(--font-primary); // Karbon
        color: var(--color-primary-blue-05);
        font-size: 16px;
        font-weight: 700;
        line-height: 160%; /* 25.6px */
        letter-spacing: 1.6px;
        text-transform: uppercase;
    }
    .item-type {
        padding: 0 15px 15px 0;
    }
    .item-date {
        padding: 0 0 15px;
    }

    .item-program {
        display: flex;
    }

    .detail {
        color: var(--color-primary-blue-03);

        @include ftva-body-2;
    }

    .caret-icon {
        width: 30px;
        height: auto;
        @include animate-normal;
    }

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 5px 10px;
        border-radius: 4px;

        background-color: transparent;

        color: var(--color-primary-blue-03);
        font-family: var(--font-secondary); // Proxima Nova
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1; /* 24px */

        border: 1px solid var(--color-primary-blue-03);
        cursor: pointer;
        @include animate-normal;
    }

    .caret-icon {
        ::v-deep(path) {
            @include animate-normal;
        }
    }

    // Expanded state
    &.is-expanded {
        .item.extra:last-child {
            .divider {
                opacity: 0;
            }
        }
        .item {
            &:nth-child(3) {
                .divider {
                    opacity: 1;
                }
            }
        }

        .btn {
            background-color: var(--color-primary-blue-03);
            color: var(--color-white);

            .caret-icon {
                transform: rotate(180deg);
                ::v-deep(path) {
                    stroke: var(--color-white);
                }
            }
        }
    }

    // Hovers
    @media #{$has-hover} {
        .btn:hover {
            background-color: var(--color-primary-blue-03);
            color: var(--color-white);

            .caret-icon {
                ::v-deep(path) {
                    stroke: var(--color-white);
                }
            }
        }

        &.is-expanded .btn:hover {
            background-color: transparent;
            color: var(--color-primary-blue-05);

            .caret-icon {
                transform: rotate(180deg);
                ::v-deep(path) {
                    stroke: var(--color-primary-blue-05);
                }
            }
        }
    }
    // Breakpoints
    @media #{$medium} {
        .item-details {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }
}
// Transitions
.fade-label-enter-active,
.fade-label-leave-active {
    transition: opacity 0.15s ease-in-out;
}
.fade-label-enter-from,
.fade-label-leave-to {
    opacity: 0;
}
.fade-label-enter-to,
.fade-label-leave-from {
    opacity: 1;
}
