.dlc.block-remove-search-filter {
    padding: 0px;
    user-select: none;

    .button-close {
        margin-left: 8px;
    }

    &.color-default,
    &.color-help,
    &.color-visit,
    &.color-about {
        :deep(.block-tag) {
            border: 2px var(--color-secondary-grey-02) solid;
        }

        &:hover {
            background-color: transparent;
        }
    }

    .button-close {
        // increase hit-area of the button
        padding: 10px;
        margin: -10px;

        :deep(svg) {
            height: 11px;
            width: 11px;
        }
        :deep(path) {
            fill: $subtitle-grey;
            transition: fill 0.3s ease-in-out;
        }
    }

    .button-selected {
        margin-left: 8px;
        width: 20px;
        transition: width 0.15s ease-in-out;
    }

    // Hovers
    @media #{$has-hover} {
        &:hover {
            :deep(path) {
                fill: var(--color-primary-blue-03);
            }
        }
    }
}
