.dlc.block-asset-pod {
    display: flex;
    align-items: flex-start;
    gap: 24px;

    .image {
        aspect-ratio: 1;
        min-width: 200px;
        width: 20%;
    }

    .meta {
        flex: 1;
        min-width: 0; // Prevents flex item from overflowing
    }
    .title {
        margin: 0 0 8px;

        font-size: 22px;
        font-weight: 700;
        line-height: 120%;
        color: var(--color-primary-blue-04);
    }
    .item {
        display: flex;
        gap: 10px;
        margin-bottom: 5px;

        // Remove last-child margin
        &:last-child {
            margin-bottom: 0;
        }
    }
    .item-title {
        width: 130px;

        font-family: var(--font-primary);
        font-size: 16px;
        font-weight: 700;
        line-height: 1.6;
        letter-spacing: 1.6px;
        text-transform: uppercase;
        color: var(--color-black);
    }
    .item-value {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        gap: 8px;
        width: calc(100% - 140px);

        font-family: var(--font-secondary);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        color: var(--color-dark-grey);
    }
    .smart-link {
        padding: 0;
        font-family: var(--font-primary);
        font-size: 18px;

        &.is-link {
            font-weight: 700;
            color: var(--color-primary-blue-04);
        }
    }

    // Hovers
    @media #{$has-hover} {
        // Only apply hover on block asset pod when not hovering a link
        &:not(.is-hovering-link):hover {
            .title {
                text-decoration: underline;
            }
        }
        .smart-link.is-link:hover {
            text-decoration: underline;
        }
    }

    // Breakpoints
    @media #{$small} {
        flex-direction: column;
        gap: 16px;

        .image {
            width: 100%;
            min-width: unset;
        }

        .meta {
            width: 100%;
        }
        .item-title {
            display: none;
        }
        .item-value {
            width: 100%;
        }
    }
}
