.button-page-view.dlc {
    display: flex;
    gap: 2px;

    .button-wrapper {
        display: flex;
        align-items: center;
        position: relative;

        padding: 0;

        background-color: var(--color-primary-blue-01);
        transition: background-color 0.2s ease-out;

        cursor: pointer;

        &.active {
            background-color: var(--color-primary-blue-05);
            :deep(svg) {
                rect {
                    fill: var(--color-white);
                    stroke: var(--color-white);
                }
                path {
                    fill: var(--color-white);
                    stroke: var(--color-white);
                }
            }
        }
    }
    .icon {
        width: 40px;
        height: 40px;
        display: block;
    }

    :deep(svg) {
        rect {
            fill: var(--color-primary-blue-05);
            stroke: var(--color-primary-blue-05);
            transition: stroke 0.2s ease-out, fill 0.2s ease-out;
        }
        path {
            fill: var(--color-primary-blue-05);
            stroke: var(--color-primary-blue-05);
            transition: stroke 0.2s ease-out, fill 0.2s ease-out;
        }
    }

    // Hover states
    @media #{$has-hover} {
        .button-wrapper:hover {
            background-color: var(--color-primary-blue-03);
            :deep(svg) {
                rect {
                    fill: var(--color-white);
                    stroke: var(--color-white);
                }
                path {
                    fill: var(--color-white);
                    stroke: var(--color-white);
                }
            }
        }
    }
}
