.dlc.button-submit {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 74px;
    width: 74px;
    padding: 0;
    background-color: var(--color-primary-blue-01);

    // Target SVG elements
    :deep(svg path) {
        fill: var(--color-primary-blue-04);
        transition: fill 0.3s ease-in-out;
    }

    // Hovers
    @media #{$has-hover} {
        &:hover {
            :deep(svg path) {
                fill: var(--color-default-cyan-03);
            }
        }
    }
    // Breakpoints
    @media #{$medium} {
        height: 53px;
    }
    @media #{$small} {
        height: 60px;

        // Target SVG elements
        :deep(svg path) {
            fill: var(--color-default-cyan-03);
        }
    }
}
