.button-dropdown-search,
.button-dropdown-search.dlc {
    width: 200px;
    position: relative;
    font-family: inherit;

    .dropdown-field {
        position: relative;
        z-index: 20;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;

        height: 74px;
        padding: 24px 15px;
        background-color: var(--color-secondary-blue-02);

        user-select: none;
        cursor: pointer;
        transition: background-color 0.2s;
    }

    .selected-option,
    .dropdown-option {
        font-family: var(--font-secondary);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 24px */
        color: var(--color-white);
    }

    .arrow {
        flex-shrink: 0;
        display: block;
        width: 13px;
        height: auto;
    }

    .option-wrapper {
        padding: 2px 15px;
        border-radius: 4px;
        background-color: var(--color-secondary-blue-02);

        transition: background-color 0.2s;
    }

    .dropdown-options {
        margin: 0;
        padding: 8px 15px;
        list-style: none;
        background-color: var(--color-primary-blue-01);

        position: absolute;
        top: 5px;
        left: 5px;

        border-radius: 5px;
        overflow: hidden;

        width: calc(100% - 10px);

        display: flex;
        flex-direction: column;
        gap: 5px;

        z-index: 50;

        li {
            display: flex;
            align-items: center;
            gap: 8px;

            cursor: pointer;

            transition: background-color 0.2s;

            &.selected {
                background-color: var(--color-primary-blue-01);

                .icon-check {
                    opacity: 1;
                }
            }
        }
    }

    .icon-check {
        width: 26px;
        height: auto;
        flex-shrink: 0;
        opacity: 0;
        display: block;

        transition: opacity 0.2s;
    }

    // States
    &.is-long {
        width: 345px;

        .dropdown-field {
            height: 45px;
            padding: 15px;
        }
    }

    // Hovers
    @media #{$has-hover} {
        .dropdown-options {
            li {
                &:hover {
                    background-color: var(--color-primary-blue-01);

                    .option-wrapper {
                        background-color: var(--color-secondary-blue-01);
                    }
                }
            }
        }
    }

    // Dropdown Animation
    .dropdown-enter-active,
    .dropdown-leave-active {
        transition: opacity 0.2s;
    }

    .dropdown-enter-from,
    .dropdown-leave-to {
        opacity: 0;
    }

    .dropdown-enter-to,
    .dropdown-leave-from {
        opacity: 1;
    }
}
