.dropdown-single-select-funkhaus,
.dropdown-single-select-funkhaus.dlc {
    position: absolute;
    top: -50%;
    left: 50%;

    width: 240px;
    position: relative;
    font-family: inherit;

    .dropdown-field {
        background-color: var(--color-primary-blue-01);
        padding: 15px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;

        user-select: none;

        transition: background-color 0.2s, box-shadow 0.2s;

        position: relative;
        z-index: 20;
    }

    .selected-option {
        @include truncate(2);
    }

    .selected-option,
    .dropdown-option {
        @include ftva-body-2;
    }

    .arrow {
        flex-shrink: 0;
        display: block;
        width: 35px;
        height: auto;

        transition: transform 0.2s;
    }

    .dropdown-options {
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: var(--color-white);
        position: absolute;

        width: 100%;
        z-index: 10;
        border-radius: 0 0 10px 10px;

        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);

        li {
            padding: 15px;
            cursor: pointer;
            transition: background-color 0.2s;

            &.selected {
                background-color: var(--color-primary-blue-01);
            }
        }
    }

    // Opened state
    &.open {
        border-radius: 0 0 10px 10px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);

        .dropdown-field {
            background-color: var(--color-white);
        }

        .arrow {
            transform: rotate(180deg);
        }
    }

    // Hovers
    @media #{$has-hover} {
        .dropdown-field {
            &:hover {
                background-color: var(--color-primary-blue-01);
            }
        }

        .dropdown-options {
            li {
                &:hover {
                    background-color: var(--color-primary-blue-01);
                }
            }
        }
    }

    // Transitions
    // Dropdown Animation
    .dropdown-enter-active,
    .dropdown-leave-active {
        transition: opacity 0.2s, transform 0.2s;
    }

    .dropdown-enter-from,
    .dropdown-leave-to {
        opacity: 0;
        transform: translateY(-50px);
    }

    .dropdown-enter-to,
    .dropdown-leave-from {
        opacity: 1;
        transform: translateY(0);
    }
}
