.excerpt-pod,
.excerpt-pod.dlc {
    display: flex;
    flex-direction: column;
    gap: 24px;

    .info {
        display: flex;
        gap: 10vw;
    }

    .title {
        margin: 0;

        @include ftva-card-title-2;
    }

    .subtitle {
        min-width: 200px;
        margin: 0;

        font-family: var(--font-secondary);
        font-size: 16px;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
        letter-spacing: 0.16px;
    }

    .text-excerpt {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
    }

    .text {
        @include ftva-body-2;

        .summary-content {
            // display: flex;
            // flex-direction: column;
            // gap: 5px;
        }
    }

    .btn {
        padding: 5px 5px 5px 0;
        box-sizing: border-box;

        font-size: 18px;
        font-weight: 400;
        line-height: normal;

        display: flex;
        align-items: center;
    }

    .caret-icon {
        @include animate-normal;
    }

    &.is-open {
        // .wrapper {
        //     margin-bottom: 25px;
        // }
        .caret-icon {
            transform: rotate(180deg);
            translate: 0 3px;
        }
    }

    // Breakpoints
    @media #{$small} {
        .info {
            flex-direction: column;
            gap: 16px;
        }
    }

    // Transitions
    .fade-label-enter-active,
    .fade-label-leave-active {
        transition: opacity 0.1s ease-in-out;
    }
    .fade-label-enter-from,
    .fade-label-leave-to {
        opacity: 0;
    }
    .fade-label-enter-to,
    .fade-label-leave-from {
        opacity: 1;
    }
}
