.grid-collections.dlc {
    --columns: 3;
    --gap-row: 40px;
    --gap-col: 16px;
    --block-width: calc(
        (100% - (var(--columns) - 1) * var(--gap-col)) / calc(var(--columns))
    );

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-row) var(--gap-col);
    .block {
        padding: 0;
        width: var(--block-width);
    }

    // Breakpoints
    @media #{$small} {
        --block-width: 100%;
    }
}
