.grid-assets,
.grid-assets.dlc {
    --columns: 3;
    --gap-row: 32px;
    --gap-col: 24px;
    --block-width: calc(
        (100% - (var(--columns) - 1) * var(--gap-col)) / calc(var(--columns))
    );

    display: flex;
    flex-wrap: wrap;
    gap: var(--gap-row) var(--gap-col);

    .block {
        padding: 0;
        width: var(--block-width);
    }

    // Breakpoints
    @media #{$medium} {
        --columns: 2;
    }
    @media #{$small} {
        --block-width: 100%;
    }
}
