.grid-bento-pod,
.dlc.grid-bento-pod {
    display: flex;
    flex-direction: row;
    gap: 32px;

    .bento-pod-column {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .bento-pod {
        margin-bottom: 32px;
        width: 100%;

        &:last-child {
            margin-bottom: 0;
        }
    }

    // Breakpoints
    @media #{$medium} {
        flex-direction: column;
        gap: 0;
    }

    @media #{$small} {
        flex-direction: column;
        gap: 0;

        .bento-pod {
            margin-bottom: 16px;
        }
    }
}
