.header-collection,
.dlc.header-collection {
    .subtitle {
        @include step-2;
        margin: 0 0 var(--space-m);
        color: var(--color-primary-blue-05);
        font-weight: 400;
    }
    .title {
        @include step-4;
        margin: 0 0 var(--space-m);
        color: var(--color-primary-blue-03);
    }

    .rich-text {
        margin: 0 0 var(--space-m);
    }
}
