.header-main-funkahus,
.header-main-funkahus.dlc {
    padding: 30px 64px;
    // box-sizing: border-box;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    align-items: flex-start;
    gap: 16px;

    overflow: hidden;

    @include animate-normal;

    .ucla-dlc-logo-link {
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
    }

    .ucla-dlc-logo {
        height: 20px;

        > * {
            @include animate-normal;
        }
    }

    .header-links {
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        gap: 16px;

        > * {
            position: relative;

            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;

            font-family: var(--font-primary);
            font-size: 18px;
            font-weight: 600;
            line-height: 1;
            text-transform: uppercase;
            color: var(--color-black, #0f0f0f);

            &:after {
                content: "";
                position: absolute;
                bottom: -30px;

                transform: translateY(150%);
                transform-origin: bottom;

                left: 0;
                width: 100%;
                height: 4px;

                background-color: var(--color-secondary-yellow-01);

                @include animate-normal;
            }
        }
    }

    .show-mobile {
        display: none;
    }

    &.menu-opened {
        background-color: var(--color-primary-blue-03);

        .ucla-dlc-logo-link {
            color: var(--color-white);
        }
        .ucla-dlc-logo {
            > * {
                fill: var(--color-white);
            }
        }

        .header-links {
            color: var(--color-white);
        }
    }

    // Hovers
    @media #{$has-hover} {
        .header-links {
            > * {
                &:hover {
                    &:after {
                        transform: translateY(50%);
                    }
                }
            }
        }
    }

    // Breakpoints
    @media #{$extra-large} {
    }

    @media #{$medium} {
        .show-mobile {
            display: block;
        }

        .show-desktop {
            display: none;
        }
    }

    @media #{$small} {
        gap: 5px;
        padding: 25px 10px 25px 25px;
    }
}
