.header-main-responsive {
    &.dlc {
        --vertical-gap: 30px;
        --horizontal-gap: 64px;

        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;

        .collapsed-menu {
            width: 100vw;
            height: 100%;
            padding: var(--vertical-gap) var(--horizontal-gap) 10px;
            background-color: var(--color-white);
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 54px;

            .more-menu {
                display: flex;
                flex-direction: row;
                align-self: center;
            }

            .search-button {
                background: none;
                border: none;
                padding: unset;
                padding-top: 5px;
            }

            .hamburguer {
                cursor: pointer;
            }

            .clickable-parent,
            .hamburguer {
                display: inherit;
            }

            .open-menu {
                padding: 0;
            }
        }

        .logo-ucla {
            height: 20px;
            width: auto;

            > * {
                @include animate-normal;
            }
        }

        // Breakpoints
        @media #{$medium} {
            --horizontal-gap: 50px;
            .show-mobile {
                display: block;
            }

            .show-desktop {
                display: none;
            }
        }

        @media #{$small} {
            --vertical-gap: 30px;
            --horizontal-gap: 25px;
            .collapsed-menu {
                gap: 5px;
                padding: var(--vertical-gap) var(--horizontal-gap)
                    var(--vertical-gap) var(--horizontal-gap);
            }
        }
    }
}
