.metadata-table.dlc {
    .title {
        margin: 0 0 25px;
        font-family: var(--font-primary);
        font-size: 21px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%; /* 25.2px */
    }
    .list-item {
        display: flex;
        justify-content: flex-start;
        gap: 10px;

        margin-bottom: 8px;
    }
    .items {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .label {
        flex: 1;

        font-family: var(--font-secondary);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1; /* 25.6px */
        letter-spacing: 0.16px;
    }
    .values {
        flex: 1;
        display: flex;
        gap: 8px;
    }
    .value {
        font-family: var(--font-secondary);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
        :deep(a) {
            color: var(--color-primary-blue-03);
            text-decoration: underline;

            font-family: var(--font-primary);
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: 125%; /* 22.5px */
        }
    }

    .buttons {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .action-buttons {
        display: flex;
        flex-direction: column;

        gap: 5px;
    }

    .link {
        color: var(--color-primary-blue-03);
        text-decoration: underline;
    }
    .icon {
        max-width: 80px;
        max-height: 30px;
        width: 100%;
        height: 100%;
    }

    // Breakpoints
    @media #{$medium} {
        .list-item {
            margin: 0;

            flex-direction: column;
        }
        .values {
            flex-direction: column;
        }
    }
}
