.notes-accordion {
    position: relative;

    font-family: var(--font-primary);
    color: var(--color-black);

    .btn {
        padding: 5px 5px 5px 0;
        box-sizing: border-box;

        font-size: 18px;
        font-weight: 400;
        line-height: normal;

        display: flex;
        align-items: center;
    }
    .caret-icon {
        transition: transform 0.5s ease-in-out;
        width: 30px;
        height: auto;
    }

    .wrapper {
        position: relative;

        margin-bottom: 0;

        overflow: hidden;
        height: 0;
        transition: height 0.5s ease-in-out, margin-bottom 0.5s ease-in-out;
    }
    .text-wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .title {
        font-size: 16px;
        font-weight: 600;
        line-height: 150%; /* 24px */
    }
    .text {
        font-size: 16px;
        font-weight: 400;
        line-height: 150%; /* 24px */
        color: var(--color-text-primary);
    }

    &.is-open {
        .wrapper {
            margin-bottom: 25px;
        }
        .caret-icon {
            transform: rotate(180deg);
        }
    }
}

// Transitions
.fade-label-enter-active,
.fade-label-leave-active {
    transition: opacity 0.15s ease-in-out;
}
.fade-label-enter-from,
.fade-label-leave-to {
    opacity: 0;
}
.fade-label-enter-to,
.fade-label-leave-from {
    opacity: 1;
}
