.dlc.rich-text {
    @include ftva-body;
    color: var(--color-dark-grey);

    :deep(h3) {
        @include ftva-h3;
        color: var(--color-dark-grey);
    }

    :deep(h4) {
        @include ftva-h4;
        color: var(--color-dark-grey);
    }

    :deep(h5) {
        @include ftva-h5;
        color: var(--color-dark-grey);
    }

    :deep(p),
    :deep(li),
    :deep(div) {
        @include ftva-body;
        color: var(--color-dark-grey);
    }

    :deep(strong) {
        font-weight: 600;
    }

    :deep(a) {
        color: var(--color-primary-blue-03);
        -webkit-text-decoration-color: var(--color-primary-blue-03);
        text-decoration-color: var(--color-primary-blue-03);
        text-decoration-thickness: 1px;
        text-underline-offset: 4px;

        transition: text-decoration-color 0.3s, color 0.3s ease-in-out;

        &:hover {
            -webkit-text-decoration-color: var(--color-primary-blue-04);
            text-decoration-color: var(--color-primary-blue-04);
            color: var(--color-primary-blue-04);
        }
    }

    :deep(a[target="_blank"]) {
        position: relative;
    }

    :deep(a[target="_blank"]:after) {
        content: url("ucla-library-design-tokens/assets/svgs/icon-ftva-external-link.svg");
        display: inline-block;
        background-size: contain;
        scale: 1.25;
        margin-left: 0.4em;
        width: 1em;
        height: 1em;
        vertical-align: text-top;
    }

    :deep(ol) {
        margin-left: 24px;

        color: var(--color-dark-grey);

        li {
            padding-left: 14px;
        }
    }

    :deep(ul) {
        list-style: disc;
        list-style-position: outside;
        padding-left: 30px;
    }

    :deep(ul li) {
        background-image: none;
        padding-left: 5px;
        margin: 0;
        overflow: visible;
    }

    :deep(table) {
        border: 1px solid var(--color-dark-grey);

        th {
            color: var(--color-dark-grey);
        }

        strong {
            color: var(--color-dark-grey);
            font-weight: 500;
        }
    }
}
