.search-results-count.dlc {
    color: var(--color-primary-blue-05);

    .parsed-results {
        font-family: var(--font-secondary);

        font-size: 16px;
        font-weight: 400;
        line-height: 1; /* 25.6px */
        letter-spacing: 0.16px;
    }

    .count {
        font-family: var(--font-primary);
        font-size: 32px;
        font-style: normal;

        font-weight: 600;
        line-height: 1; /* 38.4px */
    }
}
