// DLC theme for SectionWrapper (e.g. Page Main Landing)
.dlc.section-wrapper {
    --gutters: 48px;

    max-width: 1600px;
    margin: 0 auto;

    &.header-collection {
        .category {
            @include step-2;
            margin: 0 0 var(--space-m);
            color: var(--color-primary-blue-05);
            font-weight: 400;
        }

        .main-title {
            @include step-4;
            margin: 0 0 var(--space-m);
            color: var(--color-primary-blue-03);
        }

        .custom-description {
            margin: 0 0 var(--space-m);

            :deep(.rich-text) {
                margin: 0;
            }
        }
    }

    &.section-teaser-card-wrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding-block: 48px 40px;
        padding-inline: var(--gutters);

        .section-teaser-card {
            max-width: 100%;
            margin: 0;
            padding: 0;
        }

        .button-more {
            margin: 0 auto;
            max-width: unset;
            padding: 0 var(--gutters) 48px;
        }
    }

    &.top-level {
        padding: 0 var(--gutters);

        > :deep(*) {
            max-width: unset;
        }
    }

    &.no-constraints {
        padding: 0;
        margin: 0;
        max-width: none;

        > :deep(*) {
            max-width: none;
            margin-left: 0;
            margin-right: 0;
        }
    }

    // Breakpoints
    @media #{$extra-large} {
        &.section-teaser-card-wrapper {
            max-width: 1600px;
        }
    }
    @media #{$medium} {
        --gutters: 32px;
    }
    @media #{$small} {
        --gutters: 24px;
    }
}
