@use "ucla-library-design-tokens/scss/abstracts/tokens-ftva.scss" as ftvatokens;
.dlc.tab-list {
    
    .tab-list-header {
        background-color: var(--color-primary-blue-01);
    }

    .tab-list-item {
        color: ftvatokens.$medium-grey;
        margin: 8px 6.5px;
    }

    .tab-list-item .svg {
        :deep(.svg__stroke--primary-blue-03),
        :deep(.svg__stroke--default-cyan-03) {
            stroke: ftvatokens.$medium-grey;
        }
        :deep(rect) {
            stroke: ftvatokens.$medium-grey;
        }
    }
}
