{
    "extends": [
        "@antfu",
        "plugin:cypress/recommended"
    ],
    "rules": {
        "@typescript-eslint/comma-dangle": "off",
        "n/prefer-global/process": "off",
        "no-console": "warn",
    }
}