.DS_Store
node_modules
/dist
storybook-static
src/components
src/stories/index.stories.js
src/stories/index.stories.mdx
src/stories/Page*
src/stories/Button*
src/stories/Header*
src/stories/*.css
src/stories/assets

# Cypress
cypress/fixtures
cypress/screenshots
cypress/integration/1-getting-started
cypress/integration/2-advanced-examples


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
