.block-card-with-image {
    background-color: var(--color-theme, var(--color-white));
    font-family: var(--font-primary);
    position: relative;
    display: flex;
    flex-direction: row;

    .image-container {
        .molecule-no-image {
            width: 100%;
            margin-right: var(--space-xl);
            background: var(--gradient-01);
            overflow: hidden;
            display: flex;
            align-items: center;
            position: relative;

            .molecule {
                flex-shrink: 0;
                position: absolute;
                opacity: 0.7;
            }
        }
    }

    // Variations
    &.is-vertical {
        flex-direction: column;

        .molecule-no-image {
            width: 100%;
            height: 179.2px;
        }

        :deep(.card-meta) {
            margin-top: 16px;
        }

        :deep(.image) {
            width: 100%;

            .media {
                object-fit: cover;
            }
        }
    }

    // Breakpoints
    @media #{$medium} {
        &.is-vertical {
            .molecule-no-image {
                height: 226px;
            }
        }
    }
}