.button-dropdown {
    display: flex;
    justify-content: center;
    position: relative;

    .button {
        display: flex;
        justify-content: space-between;
        min-width: 194px;
        width: 100%;
        padding: 12px 16px 12px 20px;
        border-radius: 8px;
        border: 1px solid #{$primary-blue-03};
        font-weight: 500; //
        font-size: 18px; // Update to: $font-size-18
        background-color: $white;
        color: #{$primary-blue-03};

        .button-inner-wrapper {
            display: flex;
            -moz-column-gap: 8px;
            column-gap: 8px;
            height: 100%;
        }

        .button-svg {
            position: relative;
            top: 1px;
            stroke: #{$primary-blue-03};
        }
    }

    .button.is-expanded {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .is-expanded.toggle-triangle-icon > svg {
        transform: rotate(180deg);
        position: relative;
        bottom: 2px;
    }

    .button-dropdown-modal-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 14px;
        padding: 24px 20px 20px 20px;
        min-height: auto;
        min-width: 186px;
        width: 96%;
        margin: 0 auto;
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: #{$primary-blue-03};
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        background-color: $white;
    }

    .dropdown-modal-item {
        :deep(.icon-with-link) {
            .icon-with-link-container {
                gap: var(--space-s);
                padding: 5px 0 3px 5px;
            }
        }

        :deep(.icon-with-link.not-smart-link) .text,
        :deep(.icon-with-link) .text {
            align-self: baseline;
        }

        :deep(.icon-with-link) .text {
            font-family: "Karbon", Helvetica, Arial, sans-serif;
            font-weight: 500;
            color: #555555; // Update to $medium-gray
        }

        :deep(.icon-with-link) .link,
        :deep(.icon-with-link.not-smart-link) .text {
            text-decoration: underline;
            text-decoration-thickness: 3px;
            text-underline-offset: 6px;
            -webkit-text-decoration-color: #abbfd6;
            text-decoration-color: #abbfd6; // Update to: $grey-blue
        }

        :deep(.icon-with-link.not-smart-link) {
            width: unset;
        }

        :deep(.icon-with-link.is-link-copied) {
            .text {
                position: relative;
                top: 3px;
            }
        }
    }

    @media #{$has-hover} {
        .button:hover {
            background-color: #f1f1f1; // Update
        }

        .svg__icon-close.svg-glyph-close:hover {
            cursor: pointer;
        }

        :deep(.icon-with-link) .link:hover,
        :deep(.icon-with-link.not-smart-link):hover .text {
            -webkit-text-decoration-color: #2c91ff;
            text-decoration-color: #2c91ff; // Update to: $bright-blue
        }

        :deep(.icon-with-link) {
            .link:hover {
                text-decoration-thickness: 3px;
                text-underline-offset: 6px;
            }
        }

        :deep(.icon-with-link.not-smart-link):hover {
            .text,
            .icon {
                cursor: pointer;
            }
        }
    }

    @media #{$small} {
        .button {
            display: block;
            width: 36px;
            height: 36px;
            min-width: 0;

            .button-inner-wrapper {
                justify-content: center;
                align-items: center;
                -moz-column-gap: 0;
                column-gap: 0;
            }

            .button-svg {
                left: -2px;
                top: 2px;
            }
        }

        .button.is-expanded {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }

        .button-text,
        .toggle-triangle-icon {
            display: none;
        }

        .dropdown-overlay.is-expanded {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1;
        }

        .button-dropdown-modal {
            position: fixed;
            width: 100%;
            left: 0;
            bottom: 0;
            height: auto;
            z-index: 1;
        }

        .button-dropdown-modal-wrapper.is-expanded {
            width: 100%;
        }

        .svg__icon-close.svg-glyph-close {
            position: fixed;
            right: 24px;
            bottom: 190px;
            z-index: 1;
        }

        :deep(.icon-with-link.is-link-copied) {
            width: 85%;
            background-color: #e7edf2; // update with token

            .text {
                top: 3px;
            }
        }

        .dropdown-modal-item {
            :deep(.icon-with-link):active {
                background-color: #faf5f4; // update with token
                width: 85%;
            }
        }
    }

    // Overwrites for Add-to-Calendar-Button CSS

    add-to-calendar-button::part(atcb-button) {
        box-sizing: border-box;
        justify-content: flex-start;
        width: 282px;
        height: 51px;
        padding: 0;
        font-family: inherit;
        font-size: 18px; // Update to: $font-size-18
        font-weight: 500;
        line-height: inherit;
        padding: 12px 16px 12px 20px;
        margin: unset;
        border-radius: 8px;
        border: 1px solid #{$primary-blue-03};
        background-color: $white;
        color: #{$primary-blue-03};
        box-shadow: unset;
        z-index: 0;
    }

    add-to-calendar-button::part(atcb-button):hover {
        margin: unset;
        background-color: #f1f1f1;
    }

    add-to-calendar-button::part(atcb-button):focus {
        outline: 4px auto -webkit-focus-ring-color;
    }

    add-to-calendar-button::part(atcb-button-text)::after {
        position: relative;
        display: inline-block;
        left: 116px;
        top: -1px;
        content: url("ucla-library-design-tokens/assets/svgs/icon-ftva-drop-triangle.svg");
    }

    add-to-calendar-button::part(atcb-list-wrapper) {
        width: 274px;
        min-width: 0;
        min-height: auto;
        padding: 20px 20px 24px 20px;
        margin: 0 auto;
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: #{$primary-blue-03};
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        position: relative;
        top: 0;
        left: 0;
    }

    add-to-calendar-button::part(atcb-list) {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        box-shadow: unset;
        background-color: transparent;
    }

    add-to-calendar-button::part(atcb-list-item) {
        box-shadow: unset;
        background-color: transparent;
        padding: 0;
        font-family: "Karbon", Helvetica, Arial, sans-serif;
        font-weight: 500;
        font-size: 18px; // update
        line-height: inherit;
        color: #555555; // Update to $medium-gray
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 6px;
        -webkit-text-decoration-color: #abbfd6;
        text-decoration-color: #abbfd6; // Update to: $grey-blue
    }

    add-to-calendar-button::part(atcb-list-item):hover {
        -webkit-text-decoration-color: #2c91ff;
        text-decoration-color: #2c91ff; // Update to: $bright-blue
    }
}
