.button-dropdown {
    display: flex;
    justify-content: center;

    .button {
        height: 51px;
        padding: 12px 16px 12px 20px;
        border-radius: 8px;
        font-weight: 500; //
        font-size: 18px; // Update to: $font-size-18
        border: 2px solid #{$primary-blue-03};
        background-color: $white;
        color: #{$primary-blue-03};
    }

    .button.is-expanded {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .button-icon {
        display: flex;
        justify-content: space-between;
        width: 187px;

        &__inner-wrapper {
            display: flex;
            -moz-column-gap: 8px;
            column-gap: 8px;
            height: 100%;
        }

        &__svg {
            position: relative;
            top: 1px;
        }
    }

    .is-expanded.toggle-triangle-icon > svg {
        transform: rotate(180deg);
        position: relative;
        bottom: 2px;
    }

    .button-dropdown-modal {
    }

    .button-dropdown-modal-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 6px;
        padding: 24px 40px 20px 24px;
        max-height: 220px;
        width: 178px;
        border-width: 0 2px 2px 2px;
        border-style: solid;
        border-color: #{$primary-blue-03};
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        margin: 0 auto;
    }

    .dropdown-modal-item {
        :deep(.icon-with-link .text) {
            font-family: "Karbon", Helvetica, Arial, sans-serif;
        }
    }

    .email-icon {
    }
}
