// CardMeta THEME
.card-meta {
  .meta {
    z-index: 10;
    width: 100%;
  }

  .category {
    @include overline;
    color: var(--color-primary-blue-05);
    margin-top: var(--space-xs);
    margin-bottom: var(--space-s);
  }

  .title {
    @include card-clickable-area;
    display: block;

    .translation {
      display: block;
    }
  }

  .title,
  .title-no-link {
    @include step-1;
    line-height: $line-height--1;
    color: var(--color-primary-blue-03);
    margin: var(--space-s) 0;
  }

  .date-time {
    display: flex;
    flex-direction: column;

    @include step-0;
    color: var(--color-secondary-grey-05);
    margin: $component-02 + px 0 var(--space-s);

    .svg-online {
      border-left: 1px solid var(--color-secondary-grey-02);
      padding-left: 10px;
      margin-bottom: -5px;
      margin-left: 10px;
    }
  }

  .byline-group {
    display: flex;
    flex-direction: column;
    @include step-0;
    color: var(--color-secondary-grey-04);
    margin: var(--space-s) 0;
  }

  .text {
    @include step-0;
    color: var(--color-black);
    @include truncate(4);
    max-width: none;
    padding-right: 0;
    margin-top: var(--space-s);

    :deep(strong) {
      font-weight: 500;
    }
  }

  .location-group {
    display: flex;
    flex-direction: column;

    font-family: var(--font-secondary);
    line-height: 1;
    color: var(--color-primary-blue-03);
    margin-bottom: var(--space-s);
  }

  .icon-with-link {
    position: relative;
    z-index: 20;
  }

  // Breakpoints
  @media #{$medium} {
    .text {
      margin-top: 0;
    }
  }

  // Hovers
  @media #{$has-hover} {
    &:hover {
      .title {
        @include link-hover;
      }
    }
  }
}
