.filters-dropdown {
    // Dropdown  Window Size
    :deep(.mobile-button) {
        min-width: 380px;
    }

    :deep(.button-dropdown-modal-wrapper.is-expanded) {
        min-width: 380px;
        margin: auto;
    }

    // Filter Pills
    .pills {
        display: flex;
        flex-wrap: wrap;

        .pill-label {
            display: inline-flex;
            // align-items: center;
            position: relative;

            .pill-checkbox {
                opacity: 0;
                position: absolute;
            }
        }
    }

    :deep(.block-tag) {
        cursor: pointer;
    }

    // Selected Filter Pills
    :deep(.block-tag:hover),
    .pill-checkbox:checked+ :deep(.block-tag) {
        background-color: var(--color-primary-blue-03);

        .label {
            color: white;
        }
    }
}