.section-teaser-card {
    position: relative;
    max-width: $container-l-main + px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: var(--space-xl) 16px;

    .card {
        width: calc((100% - 32px) / 3);
    }

    // Breakpoints
    @media #{$medium} {
        align-items: flex-start;

        .card {
            width: calc((100% - 16px) / 2);
        }
    }

    @media #{$small} {
        align-items: center;

        .card {
            width: 100%;
        }
    }
}

.section-teaser-card-title {
    position: relative;
    max-width: $container-l-main + px;
    margin: 0 auto;
}
