.tab-list {
  display: flex;
  width: 100%;

  &.left {
    justify-content: flex-start;
  }

  &.center {
    justify-content: center;
  }

  &.right {
    justify-content: flex-end;
  }
 
  .tab-list-header {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background-color: #CCD5DA;
    border-radius: .5rem;

  }

  .tab-list-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: .5rem .75rem;
    padding: .25rem .75rem;
    border-radius: .25rem;
    // transition: .25s all ease-out;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    z-index: 1;
  }

  .glider {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: .25rem;
    transition: 0.5s ease-out;
    // transform: translateX(0%);
  }

  .tab-list-item.isActive > .glider {
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .25);
    z-index: -1;
    transform: translateX(0);
  }

  .tab-list-item .svg {
    width: 1.5rem;
    margin-right: .5rem;
  }
}

.tab-list-body {
  margin-top: 1rem;
  padding: 3rem;
  border-radius: .5rem;
  background-color: white;
}