.tab-list {
  display: flex;
  width: 100%;

  &.left {
    justify-content: flex-start;
  }

  &.center {
    justify-content: center;
  }

  &.right {
    justify-content: flex-end;
  }
 
  .tab-list-header {
    list-style: none;
    display: flex;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    background-color: #ccd5da;
    border-radius: .5rem;
    position: relative;
  }

  .tab-glider {
    position:absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 0;
    margin: 8px 12px;
    min-height: 40px;
    height: 100%;
    border-radius: .25rem;
    background-color: $white;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .25);
    translate: var(--translate_glider_left, 0) 0;
    transform-origin: left;
    transition: scale 300ms ease-out, translate 300ms ease-out;
  }

  .tab-glider ~ .tab-list-item.active {
    background: $white;
    // Delay background to allow glider
    // animation to complete
    transition: background-color 900ms;
  }

  .tab-list-item {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    margin: .5rem .75rem;
    padding: .25rem .75rem;
    border-radius: .25rem;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 500;
    position: relative;
    z-index: 1;
  }

  .tab-list-item .svg {
    width: 1.5rem;
    margin-right: .5rem;
  }

  @media #{$small} {
    // Optional responsive behavior: No animation

    // .tab-list-header {
    //   flex-direction: column;
    // }

    // .tab-glider {
    //   display: none;
    // }

    // .tab-list-item.active {
    //   background-color: $white;
    //   box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .25);
    //   transition: background-color 300ms;
    // }
    
    .tab-list-item {
      font-size: 16px;
    }
  }
}

.tab-list-body {
  margin-top: 1rem;
  padding: 3rem;
  border-radius: .5rem;
  background-color: $white;
}