.ftva.alphabetical-browse-by {
  .is-selected {
    color: $bright-blue;
  }

  .alphabet-list {
    @include ftva-card-title-2;
    color: $navy-blue;

    .letter {
      &:hover {
        color: $bright-blue;
      }
    }
  }
}