.ftva.alphabetical-browse-by {
  .title {
    @include ftva-body;
    color: $heading-grey;
  }

  .alphabet-list {
    @include ftva-card-title-2;
    color: $navy-blue;

    .letter {
      &.is-selected {
        @include ftva-card-title-2;
        color: $accent-blue;
        font-weight: $font-weight-medium;
      }

      &:hover {
        color: $accent-blue;
      }
    }
  }
}
