.ftva.base-calendar {

  .v-btn.v-calendar-header__today {
    @include ftva-button;
    background-color: #{$pure-white};
    color: #{$accent-blue};
    border-color: #{$accent-blue};

    &:hover {
      background-color: #{$accent-blue};
      color: #{$pure-white};
    }
  }

  .v-calendar-header > button:nth-of-type(2),
  .v-calendar-header > button:nth-of-type(3) {
    background-color: $navy-blue;
    color: white;
  }

  .v-calendar-header > button:nth-of-type(2) {
    i.v-icon {
      &::before {
          content: url('ucla-library-design-tokens/assets/svgs/icon-ftva-left_icon.svg');
      }
    }
  }

  .v-calendar-header > button:nth-of-type(3) {
    i.v-icon {
      &::before {
          content: url('ucla-library-design-tokens/assets/svgs/icon-ftva-right_icon.svg');
      }
    }
  }

  // Current date
  .v-calendar-weekly__day-label .v-btn.v-calendar-weekly__day-label__today {
    background-color: $grey-blue !important;
  }

  .calendar-event-item {
    background-color: $accent-blue;
    color: white;
  }

  .selected-event.calendar-event-item {
    background-color: $navy-blue;
  }

  .calendar-event-item:hover {
    background-color: $navy-blue;
    cursor: pointer;
  }
}

/*********************************/
/* Calendar Event Popup Components: 
  - BlockCardWithImage
  - CardMeta
  - BlockTag
  - BlockEventDetail
*/

.v-overlay-container {

  .v-menu > .v-overlay__content {
    border-radius: 8px;
  }

  .calendar-event-popup-wrapper {
    background-color: $page-blue;

    .ftva.block-highlight {
      border-radius: 0;

      .media {
        border-radius: 4px 4px 0 0; //overwrrite card meta styles that interfere with event pop-up border-radius
      }

      @media #{$has-hover} {
        &:hover {
            box-shadow: unset;
        }
      }
    }

    .ftva.block-highlight.is-vertical {
      .image-container {
        aspect-ratio: 3 / 1;
      }
      
      .card-meta .category {
        color: $subtitle-grey;
      }
    }

    .block-tag-wrapper {
      
      .ftva.block-tag {

        &.highlighted { 
          background-color: $pure-white;
        }
      }
    }
  }

  // Slot styles
  .calendar-slot-wrapper{}
}