.ftva.block-call-to-action {
  // For FTVA default CTA (non-slim, centered) specs if and when needed

  background-color: $page-blue;

  .title {
    color: $heading-grey;
    max-width: 100%;
  }

  // Color Themes
  &.theme-light {
    background-color: $page-blue;

    :deep(.title) {
      @include ftva-card-title-1;
      color: $accent-blue;
    }

    :deep(.rich-text.text) {
      @include ftva-body;
      line-height: 1.5;

      p {
        @include ftva-body;
        font-size: 16px;
        color: $body-grey;
        @include truncate(5);

      }
    }
  }

  &.theme-dark {
    background-color: $accent-blue;

    :deep(.title) {
      @include ftva-card-title-1;
      color: $pure-white;
    }

    :deep(.rich-text.text) {
      @include ftva-body;
      line-height: 1.5;

      p {
        @include ftva-body;
        font-size: 16px;
        color: $page-blue;
        @include truncate(5);
      }
    }
  }
}

.ftva.block-call-to-action.slim-left-align {
  background-color: $page-blue;
  padding: var(--space-m);
  border-radius: 2px;
  flex-direction: row;
  justify-content: flex-start;
  align-content: unset;
  align-items: unset;
  -moz-column-gap: .75rem;
  column-gap: .75rem;

  .svg {
    position: relative;
  }

  .svg,
  .text {
    margin-bottom: 0;
  }

  .title,
  .text {
    text-align: left;
  }

  .title {
    @include ftva-body;
    font-size: 18px;
    font-weight: 600;
    color: $heading-grey;
    line-height: 1.2;
    margin-bottom: 4px;
    max-width: 100%;
  }

  :deep(.rich-text.text) {
    @include ftva-body-2;
    line-height: 1.5;
    max-width: 100%;
    position: relative;

    p {
      font-size: 16px;
    }
  }

  :deep(.rich-text a[target="_blank"]::after) {
    content: url('ucla-library-design-tokens/assets/svgs/icon-ftva-external-link-dark.svg');
    scale: 1;
  }
}
