@use "ucla-library-design-tokens/scss/abstracts" as *; // provides ftva-button-link mixin
@use "ucla-library-design-tokens/scss/abstracts/tokens-ftva.scss" as ftvatokens;
.ftva.block-event-detail {
    @include ftva-button-link;
    color: ftvatokens.$medium-grey;

    a {
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-decoration-color: ftvatokens.$grey-blue;
        text-underline-offset: 4px;

        &:hover {
            text-decoration-color: ftvatokens.$bright-blue;
        }
    }


}
