.ftva.form {
    .content {
      border: 2px solid $accent-blue;
      border-radius:4px;
    }

    .section-header {
      .section-title {
        @include ftva-h5;
          color: $accent-blue;
      }
      .section-summary {
        @include ftva-body;
        color: $body-grey;
      }
    }
}