@use "ucla-library-design-tokens/scss/abstracts" as *; // provides ftva-tags mixin
@use "ucla-library-design-tokens/scss/abstracts/tokens-ftva.scss" as ftvatokens;
.ftva.block-tag {
    @include ftva-tags;
     // secondary colors and styles
    background-color: transparent;
    border: 1.5px solid ftvatokens.$subtitle-grey;
    border-radius: 16px;
    color: ftvatokens.$subtitle-grey;
    padding: 8px 16px;
    height: 32px;
    // focused and disabled,styled in blockRemoveSearchFilter

    .label {
        color: ftvatokens.$subtitle-grey;

        :deep(a) {
            text-decoration: underline;
        }
    }

    .svg {
        color: ftvatokens.$subtitle-grey;
        margin-right: 8px;
        height: 15px;
        width: 15px;
    }

    // primary colors & styles
    &.primary {
        color: ftvatokens.$pure-white;
        background-color: ftvatokens.$accent-blue;
        border: none;

        .label {
            color:ftvatokens.$pure-white;
        }
    }

    &.highlighted {
        background-color: ftvatokens.$page-blue;
        color: ftvatokens.$subtitle-grey;
        border: 1.5px solid ftvatokens.$subtitle-grey;
        .label {
            color: ftvatokens.$subtitle-grey;
        }
    }
}
