.ftva.block-post-small {
  //gap: 10px;
  padding: 0px 10px 0px 0px;
  border-radius: 12px;
  overflow: hidden;
  transition: box-shadow 0.2s ease;
  //box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  &:hover {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  }

  .card-inner {
    display: flex;
    align-items: center;
  }

  .image {
    width: 150px;
    height: auto;
    flex-shrink: 0;
    object-fit: cover;
  }

  .meta {
    :deep(.title) {
      @include ftva-card-title-1;
      font-size: 24px;
      color: $heading-grey;
    }
  }

  // Hovers
  @media #{$has-hover} {
    &:hover {
      background-color: white;
      box-shadow: 0px 10px 17px rgba(0, 0, 0, 0.04);
    }
  }
}
