.ftva.block-remove-search-filter {
    align-items: center;

    &.color-default {
        &:hover {
            background-color: transparent;
        }
    }

    :deep(.block-tag) {
        font-size: 18px;
        background-color: #{$pure-white};
        border-color: $subtitle-grey;
        border-radius: 25px;
        padding: inherit 18px;
        height: 40px;
    }

    .button-close {
        margin-left: 0;
        font-size: 10px;
        font-weight: bold;
        line-height: 100%;
        width: 0;
        overflow: hidden;
    }

    .button-selected {
        margin-left: 8px;
        width: 20px;
        transition: width .15s ease-in-out;

        svg {
            margin-top: 3px;
        }
    }

    &:focus,
    &:hover {
        :deep(.block-tag) {
            border-color: $accent-blue;
            background-color: $accent-blue;

            .label {
                color: #{$pure-white};
            }
        }

        :deep(path.svg__fill--medium-grey) {
            fill: #{$pure-white};
        }
    }

    // TODO will discuss with UX
    // &:disabled {
    //     color: #{$page-blue};
    // }
}

.ftva.block-remove-search-filter.selected {
    :deep(.block-tag) {
        border-color: $accent-blue;
        background-color: $accent-blue;

        .label {
            color: #{$pure-white};
        }
    }

    :deep(path.svg__fill--medium-grey) {
        fill: #{$pure-white};
    }
}