.ftva.block-post-small {
  width: 100%;
  padding: 0;
  border-radius: 12px;
  overflow: hidden;
  transition: box-shadow 0.2s ease;

  .card-inner {
    display: flex;
    align-items: center;
  }

  .image {
    width: 150px;
    height: auto;
  }

  .meta {
    :deep(.title) {
      @include ftva-card-title-1;
      font-size: 24px;
      color: $heading-grey;
    }
  }

  // Hovers
  @media #{$has-hover} {
    &:hover {
      background-color: white;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    }
  }
}