@use "ucla-library-design-tokens/scss/_tokens-ftva.scss" as ftvatokens;
.ftva.button-dropdown {
    z-index: 1;
    
    .button-svg {
        stroke: unset;
    }

    .toggle-triangle-icon {
        :deep(.svg__fill--accent-blue) {
            fill: ftvatokens.$medium-grey;
        }
    }

    .button-dropdown-modal-wrapper {
        border-left-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-color: ftvatokens.$medium-grey;
    }

    // Overwrites for Add-to-Calendar-Button CSS

    add-to-calendar-button::part(atcb-button) {
        box-sizing: border-box;
        justify-content: flex-start;
        width: 282px;
        height: 51px;
        padding: 0;
        font-family: inherit;
        font-size: 18px;
        font-weight: 500;
        line-height: inherit;
        padding: 12px 16px 12px 20px;
        margin: unset;
        border-radius: 8px;
        border: 1px solid ftvatokens.$medium-grey;
        background-color: ftvatokens.$white;
        color: ftvatokens.$medium-grey;
        box-shadow: unset;
        z-index: 0;
    }

    add-to-calendar-button::part(atcb-button):hover {
        margin: unset;
        background-color: #f1f1f1;
    }

    add-to-calendar-button::part(atcb-button):focus {
        outline: 4px auto -webkit-focus-ring-color;
        outline-offset: 1px;
    }

    add-to-calendar-button::part(atcb-button-text)::after {
        position: relative;
        display: inline-block;
        left: 116px;
        top: -1px;
        content: url("ucla-library-design-tokens/assets/svgs/icon-ftva-drop-triangle.svg");
        filter: brightness(0) saturate(100%) invert(30%);
    }

    add-to-calendar-button::part(atcb-list-wrapper) {
        background: ftvatokens.$white;
        min-width: 282px;
        max-width: 282px;
        min-height: auto;
        padding: 20px 20px 24px 20px;
        margin: 0;
        border-width: 0 1px 1px 1px;
        border-style: solid;
        border-color: ftvatokens.$medium-grey;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        position: absolute;
        top: 52px;
        left: 1px;
    }

    add-to-calendar-button::part(atcb-list) {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
        box-shadow: unset;
        background-color: transparent;
    }

    add-to-calendar-button::part(atcb-list-item) {
        box-shadow: unset;
        background-color: transparent;
        padding: 0;
        font-family: "Karbon", Helvetica, Arial, sans-serif;
        font-weight: 500;
        font-size: 18px; 
        line-height: inherit;
        color: ftvatokens.$medium-grey;
        text-decoration: underline;
        text-decoration-thickness: 3px;
        text-underline-offset: 6px;
        -webkit-text-decoration-color: ftvatokens.$grey-blue;
                text-decoration-color: ftvatokens.$grey-blue;
    }

    add-to-calendar-button::part(atcb-list-item):hover, add-to-calendar-button::part(atcb-list-item):focus {
        -webkit-text-decoration-color: ftvatokens.$bright-blue;
                text-decoration-color: ftvatokens.$bright-blue;
    }
    // outline on focus only to match other button dropdowns
    add-to-calendar-button::part(atcb-list-item):focus {
        outline: 4px auto ftvatokens.$bright-blue;
    }
}

