@use "ucla-library-design-tokens/scss/_tokens-ftva.scss" as ftvatokens;
.ftva.button-dropdown {
    z-index: 1;
    
    .button-svg {
        stroke: unset;
    }

    .toggle-triangle-icon {
        :deep(.svg__fill--accent-blue) {
            fill: ftvatokens.$medium-grey;
        }
    }

    .button-dropdown-modal-wrapper {
        border-left-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-color: ftvatokens.$medium-grey;
    }

    add-to-calendar-button::part(atcb-button) {
        color: ftvatokens.$medium-grey;
    }

    add-to-calendar-button::part(atcb-button),
    add-to-calendar-button::part(atcb-list-wrapper) {
        border-color: ftvatokens.$medium-grey;
    }

    add-to-calendar-button::part(atcb-button-text)::after {
        filter: brightness(0) saturate(100%) invert(30%);
    }
}
