@use "ucla-library-design-tokens/scss/abstracts" as *; // provides ftva-button mixin
@use "ucla-library-design-tokens/scss/abstracts/tokens-ftva.scss" as ftvatokens;
.ftva.button-link {
    --button-background-color: ftvatokens.$accent-blue;
    --button-text-color: ftvatokens.$pure-white;
    --button-border-color: ftvatokens.$accent-blue;
    --button-icon-single-color: ftvatokens.$pure-white;
    --button-icon-withaccent-color: ftvatokens.$pure-white;
    --button-icon-accent-color: ftvatokens.$pure-white;
    @include ftva-button;

    /* This is a hover class beacause we need to over-ride the swipe animation */
    &:hover,
    .hover {
        --button-background-color: ftvatokens.$darker-blue;
        --button-border-color: ftvatokens.$darker-blue;

        --button-icon-single-color: ftvatokens.$pure-white;
        --button-icon-withaccent-color: ftvatokens.$pure-white;
        --button-icon-accent-color: ftvatokens.$pure-white;
        @include ftva-button;
    }

    &.is-secondary {
        --button-background-color: ftvatokens.$pure-white;
        --button-text-color: ftvatokens.$accent-blue;
        --button-border-color: ftvatokens.$accent-blue;
        --button-icon-single-color: ftvatokens.$accent-blue;
        --button-icon-withaccent-color: ftvatokens.$accent-blue;
        --button-icon-accent-color: ftvatokens.$accent-blue;

        &:hover,
        .hover {
            --button-background-color: ftvatokens.$accent-blue;
            --button-text-color: ftvatokens.$pure-white;
            --button-icon-single-color: ftvatokens.$pure-white;
            --button-icon-withaccent-color: ftvatokens.$pure-white;
            --button-icon-accent-color: ftvatokens.$pure-white;
        }
    }

    // General Styling
    &:hover,
    .hover {
        transition-duration: unset;
        transition-timing-function: unset;
    }

    *:not(:only-child):first-child {
        padding-left: 0px;
    }

    &.is-tertiary {
        --button-background-color: ftvatokens.$pure-white;
        --button-text-color: ftvatokens.$accent-blue;
        --button-border-color: ftvatokens.$pure-white;
        --button-icon-single-color: ftvatokens.$accent-blue;
        --button-icon-withaccent-color: ftvatokens.$accent-blue;
        --button-icon-accent-color: ftvatokens.$accent-blue;

        &:hover,
        .hover {
            --button-background-color: ftvatokens.$darker-blue;
            --button-text-color: ftvatokens.$pure-white;
            --button-icon-single-color: ftvatokens.$pure-white;
            --button-icon-withaccent-color: ftvatokens.$pure-white;
            --button-icon-accent-color: ftvatokens.$pure-white;
        }
    }
}
