// ORIGINAL
// CardMeta THEME

.ftva.card-meta {
  .category {
    @include ftva-button-link;
    color: $accent-blue;
    margin: 0 0 12px;
  }

  .linked-category {
    @include ftva-subtitle-1;
    color: $subtitle-grey;
    margin: 0 0 12px;

    &:hover {
      color: $accent-blue;
    }
  }

  .title {
    @include ftva-h2;
    color: $heading-grey;
    margin: 0 0 24px;
  }

  .title:hover .link-title {
    @include ftva-text-link-hover;
  }

  .title-no-link {
    @include ftva-h2;
    color: $heading-grey;
    margin: 0 0 24px;
  }

  .block-tags {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 8px;

    margin-bottom: 8px;
  }

  .byline-group {
    flex-direction: row;
    @include ftva-body-2;
    color: $medium-grey;

    .date-created:not(:first-child)::before {
      content: url('ucla-library-design-tokens/assets/svgs/icon-ftva-diamond.svg');
      margin: 0 8px;
      padding-top: -10px;
      filter: invert(98%) sepia(131%) saturate(1029%) hue-rotate(196deg) brightness(130%) contrast(68%);
    }
  }

  .custom-title {
    :deep(.rich-text) {
      max-width: none;
      padding-right: 30px;
      margin: 0;

      .parsed-content {
        margin-bottom: 18px;
      }

      h3 {
        padding-bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
      }

      div {
        @include ftva-h3;
      }
    }
  }

  .custom-title {
    :deep(.smart-link::after) {
      bottom: 0;
      content: "";
      left: 0;
      min-height: 44px;
      min-width: 44px;
      position: absolute;
      right: 0;
      top: 0;
    }

  }

  .custom-description {
    :deep(.rich-text) {
      max-width: none;
      padding-bottom: 1px;
      padding-right: 30px;
      margin: 0;

      div {
        p {
          @include truncate(3);
        }
      }
    }
  }

  // styles the rich-text components
  // introduction and guestSpeaker
  .rich-text {
    margin: 0;
    padding-right: 0;
  }

  .sharebutton-slot {
    margin-top: 20px;
    margin-bottom: 36px;

    &:empty {
      display: none;
    }

    @media #{$small} {
      margin-top: 12px;
      margin-bottom: 28px;
    }
  }

  .parsed-start-time {
    @include ftva-emphasized-subtitle;
    color: $accent-blue;
  }

  &.ftvaArticle {

    // on card-meta with sectionHandle prop = 'ftvaArticle'
    // we have a unique 'About the Author' section which uses different styles
    .heading-about-author {
      @include ftva-subtitle-2;
      color: $accent-blue;
      padding-bottom: 4px;
    }

    .text {
      :deep(.parsed-content)>p {
        @include ftva-body-2;
        color: $medium-grey;
      }
    }
  }
}
