@use "ucla-library-design-tokens/scss/abstracts" as *; // provides $small
@use "ucla-library-design-tokens/scss/abstracts/tokens-ftva.scss" as ftvatokens;
.ftva.filters-dropdown {
    :deep(.mobile-button) {
        border-color: #ddd;
        &:hover, &:focus {
            border-color: #ddd;
        }
        &:hover {
            background-color: #f1f1f1;
        }
    }
    // Done / Clear Buttons
    .action-row {
        .action-row-button {
            color: ftvatokens.$accent-blue;
            border-color: ftvatokens.$accent-blue;
            &.select-button {
                background-color: ftvatokens.$accent-blue;
                color: white;
            }
            &.clear-button {
                color: ftvatokens.$accent-blue;
                :deep(.svg__stroke--primary-blue-03) {
                    stroke: ftvatokens.$accent-blue;
                }
                &:hover, &:focus {
                    background-color: ftvatokens.$navy-blue;
                    color: var(--color-white);
                    :deep(.svg__stroke--primary-blue-03) {
                        stroke: var(--color-white);
                    }
                }
            }
        }
    }
    // Selected Filter Pills
    :deep(.block-tag:hover), :deep(.block-tag:focus),
    .pill-checkbox:checked+ :deep(.block-tag) {
        background-color: ftvatokens.$accent-blue;
        border-color: ftvatokens.$accent-blue;
        .label {
            color: white;
        }
    }
    .icon-close {
        path {
            stroke: white;
        }
        circle {
            fill: transparent;
        }
    }

    @media #{$small} { 
        // Input field / Button on Mobile
        :deep(.mobile-button) {
            border-color: ftvatokens.$medium-grey;
            &:hover, &:focus {
                border-color: ftvatokens.$medium-grey;
            }
            &.is-expanded {
                    color: ftvatokens.$accent-blue;
                    border: 2px solid ftvatokens.$accent-blue;
            
                    path.svg__fill--accent-blue {
                        fill: ftvatokens.$accent-blue;
                    }
                }
        }
        .icon-svg {
            :deep(svg) {
                path.svg__fill--accent-blue {
                    fill: ftvatokens.$medium-grey;
                }
            }
        }
    }
}