.ftva.flexible-info {

  .block-call-to-action {
    &.full-width {
    --block-width: 100%;
  }
}

  .contact-info {
    list-style-type: none;
  }

  :deep(.icon-with-link-container) {
    gap: 20px;
  }

  .info-address {
    display: flex;
  }

  :deep(.icon-with-link .text),
    .info-address .rich-text {
        @include ftva-emphasized-subtitle;
  }

  :deep(.icon-with-link .text) {
    color: $accent-blue;
    @media #{$small} {
      word-break: break-all;
    }
  }

  .info-address {
    :deep(.rich-text){
      .parsed-content {
          margin-bottom: 0;
        }

      p {
        color: $body-grey;
        font-weight: 600;
        font-size: 20px;
      }
    }
  }
}