.ftva.card-with-image {
  :deep(.card-meta) {
    background-color: $page-blue;
    border-radius: 0 0 10px 10px;

    .title,
    .title-no-link {
      @include step-1;
      line-height: $line-height--1;
      color: $heading-grey;
      margin: var(--space-s) 0;
    }

    .date-time {
      color: $accent-blue;
    }

    .byline-group {
      @include ftva-emphasized-subtitle;
      color: $accent-blue;
      letter-spacing: .04px;
    }

    .block-group {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 32px 16px;

      .block {
        width: calc((100% - 32px) / 3);
      }

      .externalLink {

        .title:after,
        .title-no-link:after {
          content: url("ucla-library-design-tokens/assets/svgs/icon-ftva-external-link-dark.svg");
        }
      }
    }

  }
}
