.ftva.footer-primary {
    --unit-content-width: var(--ftva-container-max-width);
    background-color: $navy-blue;
    border-bottom: 0px;

    .container {
        flex-direction: row-reverse;

        &.no-form {
            justify-content: space-between;
        }

        .form,
        .no-ftva-form-inner-container {
            h2.title {
                font-size: 50px;
            }

            .statement {
                @include ftva-body;
                -webkit-text-stroke: .25px $navy-blue;
            }
        }

        .no-ftva-form-inner-container {
            color: var(--color-white);

            .statement {
                padding-top: 0;
                margin-bottom: 24px;
            }
        }

        .form {
            .statement {
                padding-top: 5px;
            }

            input:not(:placeholder-shown)+label,
            input:focus+label { 
                color: $grey-blue;
            }

            .form-header {
                margin-bottom: 22px;
            }

            .input-block {
                border-color: var(--color-white);
                text-transform: uppercase;

                .button-submit {
                    text-transform: uppercase;

                    .arrow-svg {
                        :deep(path) {
                            stroke: var(--color-white);
                            color: var(--color-white);
                        }
                    }
                }
            }
        }

        .footer-links {
            gap: 20px;
            padding-top: 34px;

            .socials {
                .social-item {
                    border-right: 0;
                }
            }

            .press-links {
                display: none;
            }
        }
    }

    @media #{$small} {
        .container {
            flex-direction: column;
            gap: 5px;
            padding-bottom: 20px;
            
            .footer-links {
                padding-top: 0px
            }
        }
    }
}