.ftva.header-sticky {
    background-color: $navy-blue;
    border-bottom: 1px solid var(--ftva-medium-blue);

    .primary {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        margin-inline: 18px;

        .donate-button {
            display: flex;
        }

        :deep(.section-name) {
            color: white;
            font-size: 20px;
            font-weight: 500;
            line-height: normal;
        }
    }
    @media #{$small} {
        .primary {
            padding-inline: 18px;
            margin-inline: 0;
        }
    }
}