@use "ucla-library-design-tokens/scss/abstracts" as *; // provides ftva-h5 mixin, ftva-subtitle-1 mixin, ftva-body-2 mixin
@use "ucla-library-design-tokens/scss/abstracts/tokens-ftva.scss" as ftvatokens;
.ftva.media-gallery {

  .gallery-header {
    margin-bottom: 20px;
  }

  .gallery-title {
    @include ftva-h5;
    color: ftvatokens.$accent-blue;
    margin-bottom: 12px;
  }

  .selected-image-title {
    @include ftva-subtitle-1;
    color: ftvatokens.$heading-grey;
    margin-bottom: 4px;
  }


  .selected-image-caption {
    @include ftva-body-2;
    color: ftvatokens.$subtitle-grey;
  }

  .thumbnails {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(292px, 1fr));
    -moz-column-gap: var(--space-m);
         column-gap: var(--space-m);
    row-gap: var(--space-xl);
    padding-top: var(--space-xl);
    list-style-type: none;
  }

  // change image treatment to contain for ftva carousels inside media galleries only
  :deep(.media-container) {
    .library-media-item {
      img.media-image {
        object-fit: contain !important;
      }
    }
  }
}