@use "ucla-library-design-tokens/scss/abstracts" as *; // provides ftva-button-link mixin
@use "ucla-library-design-tokens/scss/abstracts/tokens-ftva.scss" as ftvatokens;
.ftva.media-badge {
  position: relative;
  right: 0;
  bottom: 0;
  z-index: 1;

  .badge-content {
    justify-content: flex-end;
    padding-right: 24px;
    -webkit-clip-path: unset;
            clip-path: unset;
    @include ftva-button-link;
    color: ftvatokens.$subtitle-grey;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    -webkit-text-decoration-color: ftvatokens.$grey-blue;
    text-decoration-color: ftvatokens.$grey-blue;
    text-underline-offset: 4px;

    &:hover {
        -webkit-text-decoration-color: ftvatokens.$bright-blue;
        text-decoration-color: ftvatokens.$bright-blue;
    }
  }

  // Breakpoints

  @media #{$small} {
    // position: absolute;
    --badge-width: 250px;
  }
}
