@use "ucla-library-design-tokens/scss/abstracts/tokens-ftva.scss" as ftvatokens;
.ftva.mobile-drawer {
    .mobile-button {
        border-color: ftvatokens.$medium-grey;
        color: ftvatokens.$medium-grey;

        .button-svg {
            stroke: unset;
        }
    }

    .toggle-triangle-icon {
        :deep(.svg__fill--accent-blue) {
            fill: ftvatokens.$medium-grey;
        }
    }

    .button-dropdown-modal-wrapper {
        border-left-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-color: ftvatokens.$medium-grey;
    }
}