.ftva.mobile-drawer {
    .mobile-button {
        border-color: $medium-grey;
        color: $medium-grey;

        .button-svg {
            stroke: unset;
        }
    }

    .toggle-triangle-icon {
        :deep(.svg__fill--accent-blue) {
            fill: $medium-grey;
        }
    }

    .button-dropdown-modal-wrapper {
        border-left-width: 1px;
        border-right-width: 1px;
        border-bottom-width: 1px;
        border-color: $medium-grey;
        min-width: 194px;
        width: 100%;
    }

    .button-dropdown-modal-wrapper.is-expanded {
        position: absolute;
        width: auto;
        margin: 0;
    }
}