.ftva.nav-breadcrumb {
    .breadcrumb-wrapper:not(:last-of-type)::after {
        content: url('ucla-library-design-tokens/assets/svgs/icon-right-carat.svg');
        margin-inline: 16px;
        zoom: 75%;
        height: 40px;
        top: 10px;
    }

    .parent-page-url {
        @include ftva-breadcrumb-inactive;
        color: $heading-grey;
    }

    .collapsed-url {
        color: $accent-blue;
        font-weight: 600;
    }

    .current-page-title {
        @include ftva-breadcrumb-active;
        color: $accent-blue;
    }

    @media (max-width: 1199px) {
        .breadcrumb-wrapper:last-of-type::before {
            content: url('ucla-library-design-tokens/assets/svgs/icon-right-carat.svg');
            margin-inline: 16px;
            zoom: 75%;
            top: 0;
            transform: rotate(180deg);
        }
    }
}
