.ftva.page-anchor {

    .page-anchor-content {
        padding: 4px;
    }

    .dropdown-button {
        span.caret {
            position: relative;
            top: 5px;
        }
    }

    li.link, .dropdown-button {
        @include ftva-subtitle-2;
        color: var(--ftva-medium-blue);
        text-transform: unset;
        align-self: flex-start;
        justify-content: flex-start;
        letter-spacing: normal;
    }

    .page-anchor-list,
    .link a { 
        @include ftva-subtitle-2;
        color: $subtitle-grey;
        text-align: left;
        text-transform: unset;
        align-items: flex-start;
        justify-content: flex-start;
        letter-spacing: normal;
    }
    .link {
      &.color-default a:hover {
        --color-border: var(--ftva-medium-blue);
      }
    }
    .page-anchor-list {
        padding-left: 4px;
        padding-right: 4px;

        li.link {
            padding: 4px;
            &:last-child {
                a {
                    color: var(--ftva-medium-blue);
                    padding-left: 0px;
                }
                margin-top: 8px;
                padding-left: 0px;
                
            }
        }
    }
    .dropdown-button {
        .caret-down-svg {
            :deep(path.svg__stroke--primary-blue-03) {
                stroke: var(--ftva-medium-blue);
            }
        }
    }
}