.ftva.rich-text {
  @include ftva-body;
  color: $body-grey;

  :deep(h3) {
    @include ftva-h3;
    color: $body-grey;
  }

  :deep(h4) {
    @include ftva-h4;
    color: $body-grey;
  }

  :deep(h5) {
    @include ftva-h5;
    color: $body-grey;
  }

  :deep(p),
  :deep(li),
  :deep(div) {
    @include ftva-body;
    color: $body-grey;
  }

  :deep(strong) {
    font-weight: 600;
  }

  :deep(a) {
    color: $body-grey;
    -webkit-text-decoration-color: $grey-blue;
    text-decoration-color: $grey-blue;
    text-decoration-thickness: 3px;
    text-underline-offset: 4px;

    &:hover {
      -webkit-text-decoration-color: $bright-blue;
      text-decoration-color: $bright-blue;
    }
  }

  :deep(a[target="_blank"]) {
    position: relative;
  }

  :deep(a[target="_blank"]:after) {
    content: url("ucla-library-design-tokens/assets/svgs/icon-ftva-external-link.svg");
    display: inline-block;
    background-size: contain;
    scale: 1.25;
    margin-left: .4em;
    width: 1em;
    height: 1em;
    vertical-align: text-top;
  }

  :deep(ol) {
    margin-left: 24px;

    color: $body-grey;

    li {
      padding-left: 14px;
    }

    ::marker {
      @include ftva-body;
      color: $body-grey;
    }
  }

  :deep(ul) {
    list-style: disc;
    list-style-position: inside;
  }

  :deep(ul li) {
    background-image: none;
    padding-left: 8px;
    overflow: hidden;
  }

  // Blue Diamonds
  :deep(ul) {
    list-style: none;
    list-style-position: outside;
  }

  :deep(ul>li:before) {
    content: "";
    display: block;
    height: .6rem; // height of diamond
    width: 1rem; // width of diamond
    float: left; // floats text left
    margin-left: -.5rem; // moves diamond from left
    margin-top: 8px; // moves diamond down to text
    margin-right: 22px; // moves text right
  }

  :deep(ul>li:before) {
    background: url("ucla-library-design-tokens/assets/svgs/icon-ftva-diamond.svg");
    background-size: cover;
    background-position: left;
    padding: .15rem;
    -webkit-filter: invert(98%) sepia(131%) saturate(1029%) hue-rotate(196deg) brightness(130%) contrast(68%);
    filter: invert(98%) sepia(131%) saturate(1029%) hue-rotate(196deg) brightness(130%) contrast(68%);
  }

  :deep(table) {
    border: 1px solid $body-grey;

    th {
      color: $body-grey;
    }

    strong {
      color: $body-grey;
      font-weight: 500;
    }
  }

}
