.ftva.section-post-small {
  padding: 0;

  .section-header,
  .grid-wrapper{
    max-width: 100%;
  }

  .grid-wrapper {
    justify-content: flex-start;
  }

  .block {
    flex: 0 0 49%;
  }

  .section-title {
    @include step-3;
    color: $body-grey;
    margin-bottom: var(--space-m);
  }

  .section-summary {
    @include ftva-body-2;
    color: $body-grey;

    :deep(p:not(:last-of-type)) {
      margin-bottom: 12px;
    }
  }

    @media #{$medium} {
    .grid-wrapper {
      gap: 12px;
    }
  }

  @media #{$small} {
    .block {
      flex-basis: 100%;
    }
  }
}

// Full Width
.ftva.section-post-small.full-width {
  .block {
    flex-basis: 100%;
  }
}