.ftva.section-post-small {
  .section-title {
    @include step-3;
    color: $body-grey;
    margin-bottom: var(--space-m);
  }

  .section-summary {
    @include ftva-body-2;
    color: $body-grey;
  }

  @media #{$medium} {
    .grid {
      gap: 12px;
    }

    .section-summary {
      margin-bottom: 12px;
    }
  }
}
