.ftva.section-pagination {
    .previous, .next {
        @include ftva-text-link-default;
        text-decoration: none;
    }
    .pagination-numbers-container {
        .pButton {
            color: $body-grey;
            font-family: "Karbon", Helvetica, Arial, sans-serif;
            font-size: 20px;
            font-weight: 500;
            transition: background-color 0.3s;
            &:hover {
                background-color: $grey-blue;
            }
        }
        .pButton-selected {
            color: white;
            background-color: $navy-blue;
        }
    }
}