.ftva.site-brand-bar {
    background-color: var(--ftva-off-black);
    height: 0px;
    .svg__logo-ftva {
        display: block;
        height: 36px;
        width: auto;
    }
    .button-container {
        .button {
            text-transform: uppercase;
        }
    }
    @media (min-width: 850px) {
        height: 110px;
    }
}