.ftva.table-row {
    align-items: center;
    td {
        vertical-align: middle;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-right: calc(var(--space-m) + 1px);
        border-bottom: 2px dotted var(--color-secondary-grey-02);
        &:last-of-type {
            padding-right: 0px;
        }
    }
    &:last-child {
      td {
        border-bottom: none;
        padding-bottom: 0px;
      }
    }
    .column-1 {
        display: table-cell;
        flex: unset;
        max-width: calc(287px + var(--space-m)); 
    }
    .column-2 {
        display: table-cell;
        flex: unset;
        max-width: 500px;
        flex-grow: 3;
        align-content: center;
        align-items: center;

    }
    .column-3 {
        display: table-cell;
        flex: unset;
        justify-self: flex-start;
        flex-grow: 1;
    }
    .column-4 {
        text-align: right;
    }

    :deep(*){
      @include ftva-subtitle-2;
    }
    :deep(.film-title){
      @include ftva-card-title-1;
      color: $accent-blue;
    }
    :deep(.rich-text){
        .parsed-content {
            color: $body-grey;
            margin-bottom: 0px;
        }
    }
    :deep(p.subtitle) {
        @include ftva-subtitle-2;
    }
    :deep(.responsive-image) {
        height: 213px;
        aspect-ratio: 284 / 213;
    }
    @media #{$small} {
        align-items: flex-start;
        gap: 0px;
        td {
                padding-top: 1px;
                padding-bottom: 1px;
                padding-right: 0px;
                border-bottom: none;
        }
    }
 }