.ftva.table-wrapper {
    padding: 3%;
    margin: 0 auto var(--space-2xl);
    max-width: 928px;
    border-radius: 8px;
    &.paleblue {
        --color-theme: #{$page-blue};
        background-color: var(--color-theme);
        max-width: 100%;
    }
}

.ftva.table-component {
    background-color: #fff;
    border-radius: 8px;
    margin: 0;

    thead tr {
        border-bottom: 1px dashed #555555;

        th {
            &:first-of-type {
                min-width: 287px;
            }

            @include ftva-card-title-2;
            color: #2f2f2f;
            border-bottom: 1px dashed #555555;
            padding-top: 25px;
            padding-bottom: 10px;

            &:nth-of-type(2) {
                flex-grow: 3;
            }

            &:nth-of-type(3) {
                justify-content: flex-start;
                flex-grow: 1;
            }

            &:nth-of-type(4) {
                justify-content: flex-end;
            }
        }
    }

    tbody :deep(tr) {
        &:not(:first-child) {
            padding-top: 15px;
        }

        padding-bottom: 15px;

        &:last-child {
            margin-bottom: 0px;
            padding-bottom: 0px;
            border-bottom: none;
        }

        td {
            color: $body-grey;
        }
    }

    &.paleblue {
        --color-theme: #{$page-blue};
        background-color: var(--color-theme);
        max-width: 100%;
    }
}