.about-page {
    --gutters: 48px;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--color-white);
    padding-top: 165px;

    .header {
        // Height is 165px
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;
    }

    .main-content {
        flex: 1;
        padding: 0;

        .search-section {
            padding: 0 var(--gutters);
            margin-bottom: 48px;
        }
    }

    // Breakpoints
    @media #{$small} {
        --gutters: 24px;
    }
}
