.about-page {
    --gutters: 48px;
    --header-height: 121px;

    position: relative;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--color-white);

    .global-menu-panel {
        position: fixed;
        top: var(--header-height);
        left: 0;
        width: 100%;
        z-index: 200;
    }

    .header {
        // Header height plus search bar is 239px
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;

        background-color: var(--color-white);

        &.menu-opened {
            .container {
                border-bottom: 2px solid var(--color-primary-blue-03);
            }
        }
    }

    .main-content {
        max-width: 1600px;
        flex: 1;
        width: 100%;
        padding-bottom: 48px;
        margin: var(--header-height) auto 0;
    }

    .search-field-composite-wrapper {
        padding: 0 var(--gutters);
    }

    .search-field-composite {
        margin-top: 14px;
    }

    .mission-section,
    .about-section,
    .questions-section {
        padding-bottom: var(--space-2xl);
    }

    // Breakpoints
    @media #{$extra-large} {
        .main-content {
            padding: 0 var(--gutters);
        }
        .search-field-composite-wrapper {
            padding: 0;
        }
    }
    @media #{$medium} {
        --header-height: 113px;
    }
    @media #{$small} {
        --header-height: 103px;
        --gutters: 24px;
    }
}
