.bento-box-results-page {
    --gutters: 48px;
    --header-height: 198px;
    --search-bar-height: 118px;

    position: relative;

    min-height: 100vh;
    display: flex;
    flex-direction: column;

    background-color: var(--color-white);

    overflow: hidden;

    .global-menu-panel {
        position: fixed;
        top: var(--header-height);
        left: 0;
        width: 100%;
        z-index: 200;
    }

    .header {
        // Header height plus search bar is 239px
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;

        background-color: var(--color-white);

        &.menu-opened {
            .container {
                border-bottom: 2px solid var(--color-primary-blue-03);
            }
        }
    }

    .main-content {
        flex: 1;
        padding: 0 var(--gutters) var(--gutters);
        margin: var(--header-height) auto 0;
        max-width: 1600px;
    }

    .search-field-composite {
        margin-top: 14px;
    }

    .filter-menu-wrapper {
        width: 100%;
        max-width: 100%;
        padding: 0 var(--gutters);
        box-sizing: border-box;
    }

    .search-section {
        padding: 0 var(--gutters);
        margin-bottom: var(--gutters);
    }

    .grid-bento-pod {
        margin-top: 32px;
    }

    // Breakpoints
    @media #{$extra-large} {
        .main-content {
            padding: 0 var(--gutters) var(--gutters);
        }
    }
    @media #{$medium} {
        --search-bar-height: 97px;
        --header-height: 113px;
    }
    @media #{$small} {
        --header-height: 103px;
        --gutters: 24px;
        --search-bar-height: 164px;

        .main-content {
            padding: 0 var(--gutters) var(--gutters);

            .grid-bento-pod {
                margin-top: 24px;
            }
        }
    }
}
