.main-landing-page {
    --gutters: 48px;
    --horizontal-gap: 64px;
    --header-height: 121px;

    position: relative;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--color-white);

    .global-menu-panel {
        position: fixed;
        top: var(--header-height);
        left: 0;
        width: 100%;
        z-index: 200;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;

        background-color: var(--color-white);

        &.menu-opened {
            .container {
                border-bottom: 2px solid var(--color-primary-blue-03);
            }
        }
    }

    .search-field-composite-wrapper {
        position: fixed;
        top: var(--header-height);
        left: 0;
        z-index: 100;

        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding: 14px var(--horizontal-gap);
        box-sizing: border-box;

        background-color: var(--color-white);

        // Gives the search bar slot item the bottom border
        .search-bar {
            padding-bottom: 14px;
            border-bottom: 2px solid var(--color-default-cyan-03);
        }

        :deep(input) {
            margin: 0;
        }
    }

    .main-content {
        flex: 1;
        padding: 0;
        margin-top: calc(var(--header-height));
    }

    .search-field-composite {
        margin-bottom: 48px;
    }

    .header-collection {
        max-width: 1600px;
        margin: 0 auto;
        padding: 0 var(--gutters);
    }

    .grid-collections {
        max-width: 1200px;
        margin: 0 auto;
        padding-block: 48px 40px;
        padding-inline: var(--gutters);
    }
    .button-more {
        margin: 0 auto;
        max-width: unset;
        padding: 0 var(--gutters) 48px;
    }

    // Breakpoints
    @media #{$extra-large} {
        .grid-collections {
            max-width: 1600px;
        }
    }
    @media #{$medium} {
        --header-height: 113px;
    }
    @media #{$small} {
        --gutters: 24px;
        --header-height: 103px;

        .main-content {
            padding-top: 0px;
        }
    }
}
