.about-page {
    --gutters: 0px;

    position: relative;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--color-white);

    .global-menu-panel {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 200;
    }

    .header {
        // Header height plus search bar is 239px
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 100;

        background-color: var(--color-white);

        &.menu-opened {
            .container {
                border-bottom: 2px solid var(--color-primary-blue-03);
            }
        }
    }

    .main-content {
        max-width: 1600px;
        margin: 0 auto;
        flex: 1;
        width: 100%;
        padding: 0 var(--gutters) 48px;
    }

    .search-field-composite-wrapper {
        width: 100%;
        max-width: 100%;
        padding: 0;
        box-sizing: border-box;

        :deep(input) {
            margin: 0;
        }
    }

    .mission-section,
    .about-section,
    .questions-section {
        padding-bottom: var(--space-2xl);
    }

    // Breakpoints
    @media #{$extra-large} {
        --gutters: 48px;
        .main-content {
            padding: 0 var(--gutters);
        }
        .search-field-composite-wrapper {
            padding: 0;
        }
    }
    @media #{$medium} {
    }
    @media #{$small} {
        
    }
}
