@import "./GlobalPageStyles.scss";

.using-digital-collections-page {
    @include page-container;
    --gutters: 48px;

    .panel-anchor-nav {
        z-index: 1000;
    }

    .header-smart {
        .header-main {
            position: unset;
            height: unset;

            .primary {
                position: relative;
            }
        }
    }

    .search-field-composite-wrapper {
        @include search-field-wrapper;
    }

    .main-content {
        max-width: 1600px;
        margin: 0 auto;
        flex: 1;
        width: 100%;
        padding: 0 var(--gutters) 48px;
    }

    .page-title {
        margin: 0 0 var(--space-m);

        font-size: 48px;
        font-weight: 400;
        line-height: 110%;
        color: var(--color-dark-grey);
    }

    .two-column {
        display: flex;
        flex-direction: row;
        gap: 40px;
    }

    .content-column {
        width: 60%;
        min-width: 0;
    }

    .intro-rich-text {
        margin: unset;
    }

    .intro-rich-text,
    .section-rich-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
    }

    .sidebar-column {
        width: 40%;
        min-width: 280px;
    }

    .section-divider {
        width: 100%;
        max-width: unset;
        margin: 40px 0;
    }

    .section-title {
        max-width: 640px;
        margin: 0 auto 24px;

        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%;
        color: var(--color-primary-blue-03);
    }
    .section-rich-text {
        max-width: 640px;
        margin: 0 auto;
        padding-right: 0;
    }

    .dl-viewer-wrapper {
        margin: var(--space-m, 16px) 0;
        width: 100%;
    }

    .viewer-caption {
        margin-top: var(--space-s, 8px);
        font-size: 14px;
        color: var(--color-dark-grey);
    }

    .section-block {
        &.outlined-container {
            max-width: 700px;
            margin: 0 auto;

            padding: 32px;
            border: 1px solid var(--color-secondary-grey-02);
            border-radius: 15px;
        }
    }

    :deep(.title-container) {
        .title {
            font-size: 16px;
            font-weight: 600;
            line-height: 1;
            letter-spacing: 1.6px;
            text-transform: uppercase;
            color: var(--color-dark-grey);
        }

        .divider {
            width: 100%;
            max-width: unset;
            margin: 8px 0 10px;
        }
    }

    @media #{$extra-large} {
        --gutters: 48px;

        .main-content {
            padding: 0 var(--gutters);
        }

        .search-field-composite-wrapper {
            padding: 0px;
        }
    }
    @media #{$medium} {
        --gutters: 32px;

        .two-column {
            flex-direction: column;
            gap: 40px;
        }

        .content-column {
            width: 100%;
        }

        .sidebar-column {
            width: 100%;
            min-width: unset;
        }
    }
    @media #{$small} {
        --gutters: 16px;

        .section-block {
            &.outlined-container {
                padding: 24px;
            }
        }
    }
}
