.program-landing-page {
    --gutters: 48px;

    min-height: 100vh;
    display: flex;
    flex-direction: column;

    overflow: hidden;
    background-color: var(--color-white);

    .main-content {
        flex: 1;
        padding: 65px var(--gutters) 48px;
    }

    .search-field-composite {
        margin-top: 14px;
    }

    // Breakpoints
    @media #{$extra-large} {
    }
    @media #{$medium} {
    }
    @media #{$small} {
        --gutters: 24px;
    }
}
