.program-landing-page {
    --gutters: 48px;
    --header-height: 0px;

    position: relative;

    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: var(--color-white);

    .main-content {
        flex: 1;
        max-width: 1600px;
        padding: 0 var(--gutters) 48px;
        margin: var(--header-height) auto 0;
    }

    .search-field-composite.dlc {
        margin-top: 14px;
        padding: 0;
    }

    .collection-overview {
        margin-bottom: 48px;
    }

    .title-grid-assets {
        margin-bottom: 32px;
        @include step-4;
        margin: 0 0 var(--space-m);
    }
    .section-teaser-card {
        margin: 0 auto;
        max-width: unset;
    }
    .button-more {
        margin: 0 auto;
        max-width: unset;
        padding-inline: var(--gutters);
    }

    // Breakpoints
    @media #{$extra-large} {
    }
    @media #{$medium} {
        --header-height: 0px;
    }
    @media #{$small} {
        --gutters: 24px;

        --header-height: 0px;
    }
}
