.program-landing-page {
    --gutters: 48px;

    min-height: 100vh;
    display: flex;
    flex-direction: column;

    overflow: hidden;
    background-color: var(--color-white);

    .main-content {
        flex: 1;
        padding: 65px var(--gutters) 48px;
    }

    .search-field-composite {
        margin-top: 14px;
    }

    .collection-overview {
        margin-bottom: 48px;
    }

    .title-grid-assets {
        margin-bottom: 32px;
        @include step-4;
        margin: 0 0 var(--space-m);
    }
    .grid-assets {
        margin: 0 auto;
    }
    .button-more {
        margin: 0 auto;
        max-width: unset;
        padding-inline: var(--gutters);
    }

    // Breakpoints
    @media #{$extra-large} {
    }
    @media #{$medium} {
    }
    @media #{$small} {
        --gutters: 24px;
    }
}
