// default styles correspond to old library-website-nuxt styles formerly in components

@import "default/_block-event-detail";
@import "default/_block-remove-search-filter";
@import "default/_block-tag";
@import "default/_button-link";
@import "default/_card-meta";
@import "default/_divider-way-finder";
@import "default/_nav-breadcrumb";
