.alphabetical-browse-by {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title {
    @include step-3;
    margin-bottom: 24px;
    font-family: var(--font-primary);
    color: var(--color-primary-blue-03);
  }

  

  .alphabet-list {
    @include step-1;
    max-width: 928px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    list-style: none;
    list-style-type: none;
    padding: 0;
    color: var(--color-primary-blue-03);

   

    .letter {
      padding: 0 10px;
      margin-bottom: 24px;
      width: 44px;
      text-align: center;

      &.is-selected {
        @include link-hover;
        font-weight: $font-weight-semibold;
        color: var(--color-primary-blue-03);
      }

      &:hover {
        @include link-hover;
        cursor: pointer;
        font-weight: $font-weight-semibold;
        color: var(--color-primary-blue-03);
      }
    }

    @media #{$medium} {
      // max-height: 140px;
      justify-content: start;
      flex-wrap: wrap;
      margin-top: 0;
      margin-right: 0px;

      .letter {
        width: 44px;
      }
    }

    @media #{$small} {
      // max-height: 180px;
    }
  }
}