.media-with-text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

  max-width: $container-l-main + px;
  // Themes
  --background-color: var(--color-theme, var(--color-white));

  &.color-grey {
    --background-color: var(--color-secondary-grey-02);
  }

  .text-grouping {
    margin-right: 50px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
  }

  .section-header {
    @include step-3;
    color: var(--color-primary-blue-03);
    margin-bottom: 24px;
  }

  .short-description {
    @include step-0;
    margin-bottom: 24px;
  }

  .meta {
    max-width: 500px;
    z-index: 0;
    position: relative;
  }

  .media {
    z-index: 0;
    position: relative;
    max-width: 100%;
    min-width: 426px;
    height: auto;
  }

  .no-media {
    z-index: 0;
    position: relative;
    width: 426px;
    height: 240px;
    background-color: var(--color-primary-blue-02);
  }

  .meta-mobile {
    display: none;
  }

  .clippy {
    z-index: 100;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .floating-highlight {
    z-index: 200;
    position: absolute;
    bottom: 8px;
    left: 5px;
    width: 112px;
    height: 72px;
    background-color: var(--color-visit-fushia-03);

    -webkit-clip-path: polygon(0 0,
        calc(100% - 37px) 0,
        100% 75px,
        calc(100% - 1.5px) 75px,
        calc(100% - 38px) 1.5px,
        0 1.5px);

            clip-path: polygon(0 0,
        calc(100% - 37px) 0,
        100% 75px,
        calc(100% - 1.5px) 75px,
        calc(100% - 38px) 1.5px,
        0 1.5px);
  }

  .clipped-play {
    bottom: 0;
    left: 0;
    z-index: 200;
    position: absolute;
    width: 112px;
    height: 72px;
    background-color: var(--background-color);

    -webkit-clip-path: polygon(0 0,
        calc(100% - 38px) 0,
        100% 78px,
        calc(100% - 1.5px) 84px,
        0 84px,
        0 1.5px);

            clip-path: polygon(0 0,
        calc(100% - 38px) 0,
        100% 78px,
        calc(100% - 1.5px) 84px,
        0 84px,
        0 1.5px);
  }

  .svg__icon-play {
    fill: var(--color-primary-blue-03);
  }

  .icon-play-filled {
    z-index: 400;
    position: absolute;
    bottom: 16px;
    margin-left: 24px;
  }

  .icon-headphones {
    z-index: 400;
    position: absolute;
    left: 50%;
    margin-left: -40px;
    top: 50%;
    margin-top: -40px;
  }

  // Breakpoints

  @media #{$medium} {
    .media {
      width: calc(50% - 48px);
      height: auto;
      max-width: 100%;
      min-width: 296px;
    }

    .no-media {
      width: calc(50% - 48px);
      max-width: 100%;
      min-width: 296px;
    }
  }

  @media #{$small} {
    &.media-with-text {
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-content: center;
      align-items: center;

      max-width: 100%;

      .text-grouping {
        max-width: 100%;
        margin-right: 0;
      }

      .meta {
        display: none;
      }

      .meta-mobile {
        display: block;

        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 24px;
        z-index: 0;
        position: relative;
      }

      .media-mobile {
        width: 100%;
        height: auto;
        z-index: 10;
        position: relative;
      }

      .no-media-mobile {
        width: 100%;
        height: 200px;
        z-index: 10;
        position: relative;
        background-color: var(--color-primary-blue-02);
      }

      .floating-highlight-mobile {
        z-index: 200;
        position: absolute;
        bottom: 8px;
        left: 5px;
        width: 112px;
        height: 72px;
        background-color: var(--color-visit-fushia-03);

        -webkit-clip-path: polygon(0 0,
            calc(100% - 37px) 0,
            100% 75px,
            calc(100% - 1.5px) 75px,
            calc(100% - 38px) 1.5px,
            0 1.5px);

                clip-path: polygon(0 0,
            calc(100% - 37px) 0,
            100% 75px,
            calc(100% - 1.5px) 75px,
            calc(100% - 38px) 1.5px,
            0 1.5px);
      }

      .clipped-play-mobile {
        bottom: 0;
        left: 0;
        z-index: 200;
        position: absolute;
        width: 112px;
        height: 72px;
        background-color: var(--background-color);

        -webkit-clip-path: polygon(0 0,
            calc(100% - 38px) 0,
            100% 78px,
            calc(100% - 1.5px) 84px,
            0 84px,
            0 1.5px);

                clip-path: polygon(0 0,
            calc(100% - 38px) 0,
            100% 78px,
            calc(100% - 1.5px) 84px,
            0 84px,
            0 1.5px);
      }

      .icon-play-filled-mobile {
        z-index: 400;
        position: absolute;
        bottom: 16px;
        margin-left: 24px;
      }

      .icon-headphones-mobile {
        z-index: 400;
        position: absolute;
        left: 50%;
        margin-left: -40px;
        top: 50%;
        margin-top: -40px;
      }

      .button {
        width: 100%;
        margin-left: 0;
      }
    }
  }
}