.button-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding: 8px 16px;
    border-radius: 50px;
    border: 2px solid var(--color-secondary-grey-02);
    background-color: var(--color-white);

    height: 36px;
    width: fit-content;

    .label {
        color: #{$primary-blue-05};
        font-family: var(--font-primary);
        font-size: 15px;
        font-weight: 700;
        color: #676767; // TODO: add this to variables
    }

    &.has-on-click {
        cursor: pointer;
    }

    // Highlight styles
    &.is-highlighted {
        background-color: #676767;
        border: none;
        height: 32px;

        .label {
            color: var(--color-white);
        }
    }
}
