@use "ucla-library-design-tokens/scss/app.scss" as *; // provides $primary-blue-03
@use "ucla-library-design-tokens/scss/_tokens-ftva.scss" as ftvatokens;
.button-dropdown {
    position: relative;
    z-index: 100;

    .button-svg {
        position: relative;
        top: 1px;
        stroke: #{$primary-blue-03};
    }

    .dropdown-modal-item {
        :deep(.icon-with-link) {
            .icon-with-link-container {
                gap: var(--space-s);
                padding: 5px 0 3px 5px;
            }
        }

        :deep(.icon-with-link.not-smart-link) .text,
        :deep(.icon-with-link) .text {
            align-self: baseline;
        }

        :deep(.icon-with-link) .text {
            font-family: "Karbon", Helvetica, Arial, sans-serif;
            font-weight: 500;
            color: ftvatokens.$medium-grey;
        }

        :deep(.icon-with-link) .link,
        :deep(.icon-with-link.not-smart-link) .text {
            text-decoration: underline;
            text-decoration-thickness: 3px;
            text-underline-offset: 6px;
            -webkit-text-decoration-color: ftvatokens.$grey-blue;
                    text-decoration-color: ftvatokens.$grey-blue;
        }

        :deep(.icon-with-link.not-smart-link) {
            width: unset;
        }

        :deep(.icon-with-link.is-link-copied) {
            .text {
                position: relative;
                top: 3px;
            }
        }
    }

    @media #{$has-hover} {
        :deep(.icon-with-link) .link:hover,
        :deep(.icon-with-link.not-smart-link):hover .text {
            -webkit-text-decoration-color: ftvatokens.$bright-blue;
                    text-decoration-color: ftvatokens.$bright-blue;
        }

        :deep(.icon-with-link) {
            .link:hover {
                text-decoration-thickness: 3px;
                text-underline-offset: 6px;
            }
        }

        :deep(.icon-with-link.not-smart-link):hover {
            .text,
            .icon {
                cursor: pointer;
            }
        }
    }

    @media #{$small} {
        :deep(.mobile-button) {
            display: block;
            width: 36px;
            height: 36px;
            min-width: 0;
        }

        .button-svg {
            left: -2px;
            top: 2px;
        }

        .button-text,
        .toggle-triangle-icon {
            display: none;
        }

        :deep(.icon-with-link.is-link-copied) {
            width: 85%;
            background-color: ftvatokens.$page-blue;
            .text {
                top: 3px;
            }
        }

        .dropdown-modal-item {
            :deep(.icon-with-link):active {
                background-color: #faf5f4;
                width: 85%;
            }
        }
    }
}
