.header-main-responsive:not(.dlc) {
    width: 100vw;
    height: 100%;
    background-color: var(--color-primary-blue-03);
    display: flex;
    flex-direction: column;

    .collapsed-menu {
        width: 100vw;
        height: 100%;
        padding: 32px var(--unit-gutter) 0;
        background-color: var(--color-white);
        display: flex;
        justify-content: space-between;
        align-items: center;

        .more-menu {
            display: flex;
            flex-direction: row;
            align-self: flex-end;
        }

        .search-button {
            background: none;
            border: none;
            padding: unset;
            padding-top: 5px;
        }

        .hamburguer {
            cursor: pointer;
        }

        .clickable-parent,
        .hamburguer {
            display: inherit;
        }

        .open-menu {
            padding: 0;
        }
    }

    .expanded-menu-container {
        overflow-y: auto;
    }

    .search-box {
        display: flex;
        justify-content: center;
    }

    .input-container-wrapper {
        width: 90%;
    }

    .input-container {
        display: flex;
        background-color: var(--color-primary-blue-01);
        border-color: transparent;
        height: 60px;

        .icon {
            &:hover {
                :deep(.svg__fill--primary-blue-03) {
                    fill: var(--color-default-cyan-03);
                }
            }
        }

        .search-input {
            flex-grow: 1;
        }

        :deep(.search-input-wrapper input[data-search-input="true"]) {
            padding: 15px 20px;
        }

        .button-submit {
            display: flex;
            align-items: center;
            padding: 0 24px;
        }
    }

    .divider {
        margin-top: 16px;
        border-bottom: 2px solid var(--color-default-cyan-03);
        height: 1px;
    }

    .expanded-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        padding: 0 var(--unit-gutter);
        margin: 32px 0;
        background-color: var(--color-primary-blue-03);

        :deep(.svg__logo-library) {
            .svg__fill--primary-blue-03,
            .svg__fill--black {
                fill: var(--color-white);
            }
        }

        .close-menu {
            padding: 0;
        }

        .close-svg {
            cursor: pointer;

            :deep(.svg__fill--primary-blue-01) {
                fill: transparent;
            }
        }

        .go-back-svg {
            cursor: pointer;
            height: 48px;

            :deep(.svg__fill--primary-blue-01) {
                fill: transparent;
            }

            :deep(.svg__fill--primary-blue-03) {
                fill: var(--color-default-cyan-02);
            }
        }
    }

    ul {
        list-style-type: none;
    }

    .nav-menu-primary {
        margin: 64px var(--unit-gutter);
        z-index: 10;
        position: relative;
    }

    &.has-acronym .acronym {
        display: none;
    }

    &.has-title {
        .clickable-parent {
            position: relative;
        }

        .title {
            font-family: "Karbon", Helvetica, Arial, sans-serif;
            font-size: var(--step-1);
            font-weight: 500;
            line-height: 1.2;
            color: var(--color-primary-blue-03);
            text-transform: initial;
            letter-spacing: normal;
            @include min-clickable-area;

            &.opened-title {
                color: white;
            }
        }

        .nochildren-link {
            margin-bottom: 24px;
            line-height: 28px;
            font-size: 28px;
            font-weight: 600;
            text-align: left;
            display: block;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            position: relative;
            color: white;
            cursor: pointer;
            @include min-clickable-area;
        }
    }

    .nav-menu-secondary {
        margin: 64px var(--unit-gutter);

        .list {
            color: white;

            .list-item {
                margin-bottom: 24px;
                font-family: var(--font-primary);
                font-size: 20px;
                font-weight: 400;
                line-height: 1;

                .link {
                    @include min-clickable-area;
                }
            }
        }
    }

    .support-us-container {
        margin: 64px var(--unit-gutter);

        .button {
            margin: 0px;
            border: 1.5px solid var(--color-primary-blue-02);
        }
    }

    .cyan {
        :deep(.svg__stroke--default-cyan-03) {
            stroke: var(--color-default-cyan-02);
        }
    }

    .green {
        :deep(.svg__stroke--default-cyan-03) {
            stroke: var(--color-help-green-02);
        }
    }

    .pink {
        :deep(.svg__stroke--default-cyan-03) {
            stroke: var(--color-visit-fushia-02);
        }
    }

    .purple {
        :deep(.svg__stroke--default-cyan-03) {
            stroke: var(--color-about-purple-03);
        }
    }

    .molecule {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 0;

        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
        filter: FlipV;
        -ms-filter: "FlipV";
    }

    &.fullHeight {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 400;
    }

    &.collapsedHeight {
        height: 100%;
        box-shadow: 0px 2px 8px rgba(113, 113, 113, 0.08);
    }

    @media #{$medium} {
        &.has-acronym {
            .full-title {
                display: none;
            }

            .acronym {
                display: block;
            }
        }
    }

    @media #{$small} {
        .support-us-container {
            padding-top: 0px;
        }
    }
}
