.nav-breadcrumb {
    ol {
        list-style: none;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;

        max-width: $container-xl-full-width + px;
        margin: var(--space-m) auto;
        padding: 0 var(--unit-gutter);
    }

    .breadcrumb-wrapper {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }

    .breadcrumb-wrapper:not(:last-of-type)::after {
        content: url('ucla-library-design-tokens/assets/svgs/icon-caret-right.svg');
        position: relative;
        top: 5px;
    }

    .parent-page-url {
        @include step-1;
        color: var(--color-primary-blue-03);
        flex-shrink: 0;
    }

    .collapsed-url {
        padding: 0;
        border-radius: 0;
        transition: unset;
        cursor: pointer;
    }

    .current-page-title {
        @include step-0;
        color: var(--color-black);
        @include truncate(1);
    }

    .parent-page-url,
    .current-page-title {
        text-transform: capitalize;
    }

    @media #{$extra-large} {
        padding: 0;
    }

    @media (max-width: 1199px) {
        ol {
            padding-left: calc(var(--unit-gutter) - 8px);
        }

        .breadcrumb-wrapper :not(.current-page-title):last-of-type::before
        {
            content: url('ucla-library-design-tokens/assets/svgs/icon-caret-left.svg');
            position: relative;
            top: 9px;
        }

        .current-page-title {
            display: none;
        }
    }
}

// Hovers
@media #{$has-hover} {
    .parent-page-url:hover {
        @include link-hover;
    }
}
