.section-post-small {
  padding: 0 var(--unit-gutter);

  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: stretch;
    gap: 20px;

    margin: 0 auto;
    max-width: var(--unit-content-width);
  }

  .block {
    flex: 1 1 300px;
    max-width: 100%;
  }

  :deep(.block-post-small) {
    width: 100%;
  }

  @media #{$medium} {
    .grid {
      gap: 12px;
    }
  }

  @media #{$medium} {
    .meta {
      ::v-deep(.title) {
        @include ftva-card-title-1;
        color: $heading-grey;
      }
    }
  }
}
