.section-post-small {
  padding: 0 var(--unit-gutter);

  .section-header,
  .grid-wrapper{
    margin: 0 auto;
    max-width: var(--unit-content-width);
  }

  .section-header{
    margin-bottom: 30px;
  }

  .grid-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 20px;
  }

  .block {
    flex: 1 1 300px;
    max-width: 100%;
  }

  :deep(.block-post-small) {
    width: 100%;
  }

  @media #{$medium} {
    .grid-wrapper {
      gap: 12px;
    }

    .meta {
      ::v-deep(.title) {
        @include ftva-card-title-1;
        color: $heading-grey;
      }
    }
  }
}

// Full Width
.section-post-small.full-width {
  .block {
    flex-basis: 100%;
  }
}
