.section-pagination {
    max-width: 990px;
    font-family: var(--font-secondary);
    font-size: 18px;
    display: grid;
    grid-template-columns: 125px minmax(-webkit-min-content, 740px) 125px;
    grid-template-columns: 125px minmax(min-content, 740px) 125px;

    .previous-wrapper,
    .next-wrapper {
        display: flex;
    }

    .previous-wrapper {
        justify-content: flex-start;
    }

    .next-wrapper {
        justify-content: flex-end;
    }

    .previous,
    .next {
        display: flex;
        align-items: center;
    }

    .previous-svg {
        transform: scaleX(-1);
        margin-right: 5px;
    }

    .next-svg {
        margin-left: 5px;
    }

    &.first-page,
    &.last-page {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: stretch;
        align-items: center;
    }

    &.first-page {
        justify-content: flex-end;
    }

    &.last-page {
        justify-content: flex-start;
    }
    
    .pagination-numbers-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pButton {
        display: inline-block;
        margin-bottom: 0;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        background-color: transparent;
        color: var(--color-secondary-grey-04);
        font-size: 18px;
        padding-inline: 10px;
        border: none;
        border-radius: 4px;
        margin-inline: 4px;
    }

    .pButton-selected {
        background-color: var(--color-primary-blue-01);
    }

    @media #{$has-hover} {

        .previous:hover,
        .previous:active {
            color: var(--color-primary-blue-03);
        }

        .next:hover,
        .next:active {
            color: var(--color-primary-blue-03);
        }
    }
}