.section-pagination {
    max-width: 990px;

    font-family: var(--font-secondary);
    font-size: 18px;
    // padding-left: 13px;

    display: grid;
    // grid-template-columns: 150px minmax(min-content, 690px) 150px;
    grid-template-columns: minmax(-webkit-min-content, 120px) minmax(-webkit-min-content, 750px) minmax(-webkit-min-content, 120px);
    grid-template-columns: minmax(min-content, 120px) minmax(min-content, 750px) minmax(min-content, 120px);

    // flex-direction: row;
    // flex-wrap: nowrap;
    // justify-content: space-between;
    // align-content: center;
    // align-items: center;

    // WIP
    .previous-wrapper,
    .next-wrapper {
        display: flex;
    }

    .previous-wrapper {
        background: gold;
        justify-content: flex-start;
    }

    .next-wrapper {
        background: goldenrod;
        justify-content: flex-end;
        
    }

    .pagination-wrapper {
        background-color: gainsboro;
    }
    // WIP

    .previous,
    .next {
        display: flex;
        align-items: center;
    }

    .previous-svg {
        transform: scaleX(-1);
        margin-right: 5px;
    }

    .next-svg {
        margin-left: 5px;
    }

    &.first-page,
    &.last-page {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: stretch;
        align-items: center;
    }

    &.first-page {
        justify-content: flex-end;
    }

    &.last-page {
        justify-content: flex-start;
    }
    
    .pagination-numbers-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        // general functional styles for page-buttons
        .pButton {
            display: inline-block;
            margin-bottom: 0;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            background-color: transparent;
            color: var(--color-secondary-grey-04);
            font-size: 18px;
            // padding: 0 12px;
            padding-inline: 10px;
            border: none;
            border-radius: 4px;
            // margin: 0 6px;
            margin-inline: 4px;
        }

        .pButton-selected {
            background-color: var(--color-primary-blue-01);
        }
    }

    // Hover states
    @media #{$has-hover} {

        .previous:hover,
        .previous:active {
            color: var(--color-primary-blue-03);
        }

        .next:hover,
        .next:active {
            color: var(--color-primary-blue-03);
        }
    }
}