.table-row {
    td {
        vertical-align: top;
        padding: 11px calc(var(--space-xl) + 1px) 11px 1px;
    }
    &:first-child {
        td {
            padding: calc(11px + var(--space-m)) calc(var(--space-xl) + 1px) 11px 1px;
        }
    }

    line-height: $line-height--1;
    border-bottom: 2px dotted var(--color-secondary-grey-02);
    padding-left: 0;
    padding-right: 0;

    &:last-child {
        border-bottom: 0;
    }

    .column-1 {
        color: var(--color-primary-blue-05);
        @include step-0;
        font-weight: 500;
    }

    .column-2 {
        @include step-0;

        display: flex;
        flex: 1 1 0px;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        // white-space: nowrap;

        :deep(.name-title) {
            display: flex;
            flex-direction: column;
            gap: var(--space-xs);
            
        }

        :deep(.staff-name) {
            color: var(--color-primary-blue-03);
            font-weight: 500;
            white-space: nowrap;

            a::after {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
            }
        }

        :deep(.job-title) {
            color: var(--color-black);
        }

        :deep(.departments) {
            display: flex;
            flex-direction: column;
            list-style: none;
        }

        :deep(.department) {
            color: var(--color-secondary-grey-04);
        }

        :deep(.locations) {
            white-space: initial;
        }
    }

    .column-3 {
        // display: flex;
        // flex: 1 1 0px;
        // flex-direction: column;
        // flex-wrap: nowrap;
        // justify-content: flex-start;
        // align-content: flex-start;
        // align-items: flex-start;
        a {
            @include button;
            z-index: 10;
        }
    }

    :deep(.email,
    .phone,
    .consultation) {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--space-xs);

        color: var(--color-primary-blue-03);

        .icon {
            flex-shrink: 0;
        }
    }

    // Hover states
    @media #{$has-hover} {

        :deep(.staff-name:hover),
        :deep(.is-link:hover) {
            @include link-hover;
        }
    }

    // Breakpoints
    @media #{$medium} {
        align-items: flex-start;

        .image,
        .no-image {
            --image-size: 220px;
            flex-shrink: 0;
        }

        .column-2 {
            :deep(.job-title,
            .contact-info) {
                font-size: 18px;
            }
            :deep(.department) {
                font-size: 18px;
            }
        }
    }

    @media #{$small} {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;
        align-items: flex-start;
        // gap: 0px;
        // border: 0;
        margin: unset;
        padding: 10px 0;

        td, &:first-child td {
            padding: 1px;
        }

        .column-1 {
            margin-bottom: 4px;
        }

        .image,
        .no-image {
            display: none;
        }

        .meta {
            width: 100%;
        }
    }
}